#course_page_layout {
    display: flex;
    position: relative;
    height: 100dvh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.nav_layout_params {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 5px 15px;
    background: var(--color_blue_light);
    gap: 20px;
    flex-shrink: 0;
    z-index: 1;
}

.nav_layout_heading {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    gap: 20px;
    overflow: hidden;
}

.nav_layout_params .nav_layout_heading button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: transparent;
    color: var(--color_black);
    outline: none;
    cursor: pointer;
}

.nav_layout_params .nav_layout_heading img {
    height: 35px;
    width: 35px;
    background: var(--color_white);
    padding: 2px;
    border-radius: 5px;
}

.nav_layout_params .nav_layout_heading h3 {
    min-width: 0;
    color: var(--color_white);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav_layout_handler {
    display: flex;
    gap: 15px;
}

.nav_layout_handler button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s all ease;

    &:hover {
        background: var(--color_white_light);
        transition: 0.2s all ease;
    }
}

#course_param_content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

#course_param_content .slider {
    display: flex;
    height: 100%;
    width: 0;
    padding: 0;
    background: var(--color_gray_light);
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    overflow: hidden;
    transition: 0.2s all ease;
}

#course_param_content .slider.active {
    width: 350px;
    padding: 20px 10px;
    transition: 0.2s all ease;
}

.slider.active .course_slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.slider .course_slider {
    display: none;
}

.course_slider::-webkit-scrollbar {
    display: none;
}

.frame_slider {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.course_slider .module {
    display: flex;
    height: max-content;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    flex-direction: column;
    transition: 0.2s all ease;
}

.module .module_heading {
    display: flex;
    align-items: center;
    height: max-content;
    min-height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background: var(--color_white);
    color: var(--color_black);
    gap: 10px;
    flex-direction: column;
    transition-delay: 0.2s;
}

.module.active .module_heading {
    border-radius: 10px 10px 0 0;
    transition: 0s all ease;
}

.module .module_heading .module_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
}

.module .module_heading .module_header .icon_module {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: var(--color_gray_light);
    color: var(--color_black);
    transform: rotate(0deg);
    transition: 0.2s all ease;
}


.module.active .module_heading .module_header .icon_module {
    transform: rotate(90deg);
    background: var(--color_blue);
    color: var(--color_white);
    transition: 0.2s all ease;
}

.module .module_heading .module_header h4 {
    display: flex;
    height: max-content;
    width: max-content;
    background: var(--color_blue);
    color: var(--color_white);
    border-radius: 15px;
    padding: 5px 15px;
    flex-shrink: 0;
}

.module .module_heading p {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: left;
}

.module .lessons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 0;
    padding: 0;
    background: var(--color_white);
    flex-direction: column;
    transition-delay: 0.2s;
    transition: 0.2s all ease;
    gap: 5px;
    overflow: hidden;
}

.module.active .lessons {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    transition: 0.2s all ease;
}

.module .lessons .lesson {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background: transparent;
    gap: 10px;
}

.lesson .target_lesson {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    flex-shrink: 0;
}

.lesson .lesson_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    padding: 5px 10px;
    background: transparent;
    color: var(--color_black);
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.lesson.target .lesson_title {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

.lesson .lesson_title:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

.slider.active .footer_slider {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.slider .footer_slider {
    display: none;
}

#reload_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: var(--color_white);
    border: 1px solid var(--color_gray);
    color: var(--color_black);
    border-radius: 20px;
    flex-shrink: 0;
}

#handle_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 600;
    gap: 20px;
    cursor: pointer;
}

#course_param_content .lesson_view {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    min-width: 300px;
    flex-direction: column;
    gap: 10px;
}

.lesson_view #view {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding: 30px 20px;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.lesson_view #view::-webkit-scrollbar {
    display: none;
}

.lesson_view .footer_view {
    display: flex;
    justify-content: flex-end;
    height: max-content;
    width: 100%;
    padding: 0 10px;
}

#confirm_lesson {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 35px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    background: var(--color_green);
    color: var(--color_white);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
}

.lesson_view .lesson_view_btn:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

#view_state {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 450px;
    inset: 0;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray_light);
    transition: 0.2s all ease;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .nav_layout_params .nav_layout_heading h3 {
        font-size: medium;
    }

    #course_param_content .slider {
        position: absolute;
        height: calc(100% - 70px);
        right: 0;
        bottom: -100%;
        width: 300px;
    }

    #course_param_content .slider.active {
        bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    #course_param_content .slider.active {
        width: 100%;
    }
}