#course {
  display: flex;
  height: max-content;
  width: 100%;
  padding: 80px 20px 20px 20px;
  background: var(--color_bg);
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

#course .heading-marketplace {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  gap: 20px;
  z-index: 1;
}

#course .course-container {
  display: flex;
  height: max-content;
  width: 100%;
  gap: 30px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.course-container .course_item {
  display: flex;
  height: 420px;
  max-width: 350px;
  flex-grow: 1;
  border-radius: 15px;
  padding: 20px 10px;
  box-shadow: 0 0 5px var(--color_gray);
  background: var(--color_white);
  flex-direction: column;
  flex-basis: 300px;
  gap: 10px;
  cursor: default;
  overflow: hidden;
  transition: 0.2s all ease;
}

.course-container .course_item:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px var(--color_gray);
}

.course_item .heading {
  display: flex;
  position: relative;
  height: 150px;
  width: 100%;
}

.course_item .heading img {
  position: absolute;
  height: 65px;
  width: 65px;
  object-fit: contain;
  background-repeat: no-repeat;
  color: transparent;
  top: 0px;
  left: calc(50% - 30px);
  transition: 0.4s all ease;
}

.course_item:hover .heading img {
  top: -10px;
  left: 0;
  transform: scale(0.7);
  transition: 0.4s all ease;
}

.course_item .heading h3 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  bottom: 0;
  transition: 0.4s all ease;
}

.course_item:hover .heading h3 {
  bottom: 90px;
  padding: 0 60px;
  transition: 0.4s all ease;
}

.course_item .heading .concept {
  display: flex;
  justify-content: center;
  position: absolute;
  height: max-content;
  width: 100%;
  bottom: 0;
  background: var(--color_gray_light);
  padding: 5px 10px;
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.4s all ease;
}

.course_item .heading .concept p {
  text-align: center;
  font-size: 15px;
}

.course_item:hover .heading .concept {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: 0.4s all ease;
}

.course_item .heading .rating {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: 0px;
  height: 35px;
  width: 50px;
  font-size: 14px;
  background: var(--color_gray_light);
  color: var(--color_black);
  font-weight: 600;
  border-radius: 5px;
  gap: 5px;
}

.rating .star {
  color: var(--color_yellow);
}

.course_item .content-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}

.content-item .info:first-child {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 8px 20px;
  background: var(--color_gray_light);
  text-transform: uppercase;
  border-radius: 50px;
}


.content-item .info:nth-child(2) {
  text-align: center;
}

.content-item .info:nth-child(3),
.content-item .info:nth-child(4) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.content-item .info:nth-child(3) span,
.content-item .info:nth-child(4) span {
  font-weight: 700;
}

.course_item .footer {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  gap: 10px;
}

.footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
}

.footer .submit_course {
  flex-grow: 1;
  text-transform: uppercase;
  color: var(--color_white);
  font-weight: 600;
  cursor: pointer;
}

.footer .more_detail {
  width: 40px;
  background: var(--color_gray_light);
  color: var(--color_black);
}