#course_preview {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 20px 20px 60px 20px;
    gap: 10px;
}

.header_preview {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    inset: 0;
    padding: 15px;
    background: transparent;
}

#preview_back_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--color_white_light);
    color: var(--color_black);
    transition: 0.2s all ease;
    cursor: pointer;

    &:hover {
        background: var(--color_gray_light);
        transition: 0.2s all ease;
    }
}

.footer_preview {
    display: flex;
    position: fixed;
    justify-content: center;
    height: max-content;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background: transparent;
}

#join_course_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color_white);
    background: var(--color_blue);
    cursor: pointer;
}