/* Overview */
#overview {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    padding: 70px 20px 20px 20px;
    background: var(--color_bg);
    flex-wrap: wrap;
    gap: 20px;
}

#overview .overview-container {
    display: flex;
    height: max-content;
    flex-grow: 1;
    gap: 20px;
    flex-direction: column;
    flex-basis: 400px;
}

.overview-container .overview-user {
    display: flex;
    justify-content: center;
    height: max-content;
    width: max-content;
    min-height: 200px;
    min-width: 300px;
    padding: 20px 40px;
    border-radius: 10px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    flex-direction: column;
    gap: 20px;
}

.overview-user .user-container {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    flex-direction: column;
    gap: 20px;
}

.user-container .user-info {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.user-info img {
    border-radius: 50px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: var(--color_gray_light);
}

.user-info .info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: max-content;
    gap: 10px;
    flex-direction: column;
}

.info .profile {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.profile span {
    font-size: 14px;
}

.user-info .exprience {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    font-size: 15px;
    flex-direction: column;
    gap: 5px;
}

.user-info .exprience .level {
    display: flex;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 600;
    color: var(--color_green);
    background: var(--color_green_light);
}

.exprience p {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 0 10px;
    flex-direction: row;
    gap: 10px;
}

.exprience p span:nth-child(1) {
    font-size: 14px;
}

.exprience p span:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
}

.overview-container #edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    max-width: 200px;
    background: var(--color_blue);
    color: var(--color_white);
    font-weight: 700;
    border-radius: 10px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

.overview-container .course-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    flex-grow: 1;
    padding: 10px 0 20px 0;
    background: var(--color_white);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--color_gray);
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.main-progress {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
    min-height: 200px;
    width: 100%;
    flex-direction: column;
}

.main-progress .progress-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
    background: transparent;
    transition: 0.2s all ease;
}

.progress-item:not(:first-child) .heading:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
    cursor: pointer;
}

.progress-item .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

.heading .title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: max-content;
    padding: 0 20px;
    flex-direction: column;
}

.title h4 {
    text-transform: uppercase;
    user-select: none;
}


.progress-item .heading .title>span {
    font-size: 13px;
    font-weight: 600;
}


.progress-item .heading .title p {
    font-size: 14px;
    font-weight: 600;
}

.progress-item .heading svg {
    margin-right: 20px;
}

.progress-item .detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    width: 100%;
    gap: 10px;
    transition: 0.2s all ease;
    overflow-y: scroll;
    flex-direction: column;
}

.progress-item .detail::-webkit-scrollbar {
    display: none;
}

.progress-item .detail .info {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.progress-item .detail .info .item {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--color_gray_light);
    box-shadow: 0 0 10px var(--color_gray_light);
    gap: 10px;
    flex-wrap: wrap;
}

.progress-item .item .header {
    display: flex;
    align-items: center;
    height: max-content;
    flex-grow: 1;
    gap: 10px;
}

.progress-item .item>span {
    display: flex;
    height: max-content;
    width: max-content;
    padding: 10px 15px;
    font-size: 10px;
    text-transform: uppercase;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 600;
    border-radius: 5px;
}

#no-course {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.course-progress .footer {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
}

.course-progress .footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    max-width: 250px;
    background: var(--color_black);
    color: var(--color_white);
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 600;
}

.language {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.language .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: transparent;
    flex-shrink: 0;
    transition: 0.2s all ease;
}

.language .header:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
    cursor: pointer;
}

.language .header h5 {
    text-transform: uppercase;
    margin-left: 20px;
}

.language .header svg {
    margin-right: 20px;
}

.language .main-language {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
}

.language .language-container {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.language-container .language-item {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.heading-language {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
}

.heading-language>span {
    display: flex;
    font-size: 25px;
}

.language-item .bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: var(--color_gray_light);
    gap: 10px;
}

.language-item .bar>span {
    display: flex;
    height: 5px;
}

#error_analyze {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.course .course-recently,
.course .course-enrolled {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.course-recently h3,
.course-enrolled h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    padding: 10px 0;
}

.list-course {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.list-course .course-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--color_black);
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
}

.course-item .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.course-item .item>span {
    display: flex;
    height: max-content;
    width: max-content;
    margin-top: 5px;
    font-size: 30px;
}

.course-item .item .info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.course-item .info span {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.course-item .info .progress-bar {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    flex-direction: column;
}

.progress-bar .bar {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.progress-bar .bar p {
    display: flex;
    height: 10px;
    width: 70%;
    border-radius: 5px;
    outline: 1px solid #ccc;
    overflow: hidden;
}

.course-btn {
    display: flex;
    justify-content: flex-end;
    height: max-content;
    width: 100%;
}

.course-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    padding: 10px 15px;
    background: var(--color_black);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

/* Course */
#myCourse {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 80px 20px 20px 20px;
    background: var(--color_bg);
    flex-direction: column;
    gap: 40px;
}

#myCourse .heading-myCourse {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    gap: 20px;
    z-index: 1;
}

.handle-course {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.handle-course #course-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 700;
    border-radius: 10px;
    font-size: 14px;
    padding: 0 20px;
    gap: 10px;
    cursor: pointer;
}

#myCourse .course-frame {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 30px;
    z-index: 0;
}

.course-frame .course {
    display: flex;
    position: relative;
    align-items: center;
    height: max-content;
    min-height: 420px;
    max-width: 320px;
    flex-basis: 300px;
    flex-grow: 1;
    border-radius: 15px;
    padding: 15px 20px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transition: 0.2s all ease;
}

.course-frame .course:hover {
    box-shadow: 0 5px 10px var(--color_gray);
    transition: 0.2s all ease;
}

.course .heading-course {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.course .heading-course h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.course .content-course {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}

.course .content-course .item {
    display: flex;
    width: 100%;
    text-align: center;
    gap: 5px
}

.course .content-course .item:first-child {
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
    background: var(--color_gray_light);
    border-radius: 10px;
}

.course .content-course .item:first-child h4 {
    text-transform: uppercase;
    font-size: 14px;
}

.course .footer-course {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
    gap: 15px;
}

.setting-course .setting-list {
    display: flex;
    position: absolute;
}

.footer-course .setting-course {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: var(--color_black);
    border-radius: 10px;
    background: var(--color_gray_light);
    font-size: 18px;
}

.course .footer-course .join-course {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    flex-grow: 1;
    background: var(--color_blue);
    text-transform: uppercase;
    color: var(--color_white);
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
}

.footer-course .setting-list {
    display: flex;
    height: max-content;
    flex-grow: 1;
    gap: 10px;
}

.setting-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color_white);
    border-radius: 10px;
    gap: 10px;
}

.setting-list .hide-course {
    width: 40px;
    background: var(--color_black);
}

.setting-list .cancel-course {
    flex-grow: 1;
    background: var(--color_red);
}

.form_confirm_course {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    inset: 0;
}

.form_confirm_course::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background: var(--color_white);
    opacity: 0.8;
}

.form_confirm_course .confirm_course_text {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--color_white);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--color_gray);
    padding: 20px 10px;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    z-index: 1;
}

.confirm_course_text h4 {
    width: max-content;
    padding: 5px 20px;
    border-radius: 50px;
}

.confirm_course_text .hide_func {
    color: var(--color_blue);
    background: rgba(0, 0, 255, 0.1);
}

.confirm_course_text .delete_func {
    color: var(--color_red_light);
    background: rgba(255, 0, 0, 0.1);
}

.form_confirm_course .confirm_course_btns {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.confirm_course_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.confirm_course_btns .handle_hide {
    background: var(--color_gray_light);
    color: var(--color_black)
}

.confirm_course_btns .handle_withdraw {
    background: var(--color_red);
    color: var(--color_white);
}

.confirm_course_btns .cancel_confirm_course {
    background: var(--color_black);
    color: var(--color_white);
}

/* Project */
#myProject {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 80px 20px 20px 20px;
    background: var(--color_bg);
    flex-direction: column;
    gap: 20px;
}

#myProject .heading-myProject {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    gap: 20px;
    z-index: 1;
}

.handle-project {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.handle-project #project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 700;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.project-list {
    display: flex;
    align-items: flex-start;
    height: max-content;
    flex-grow: 1;
    width: 100%;
    gap: 30px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    z-index: 0;
}

.item_project {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    min-height: 250px;
    max-width: 400px;
    flex-grow: 1;
    border-radius: 15px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    padding: 10px;
    gap: 10px;
    flex-basis: 300px;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s all ease;
}

.item_project:hover {
    box-shadow: 0 5px 10px var(--color_gray);
    transition: 0.2s all ease;
}

.item_project .top_status {
    display: flex;
    width: 100%;
    gap: 10px;
}

.item_project .top_status>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}

.item_project .top_status .method_project {
    padding: 0 20px;
    border-radius: 50px;
    color: var(--color_green);
    background: var(--color_green_light);
}

.item_project .top_status .status_project {
    flex-grow: 1;
    background: var(--color_gray_light);
    color: var(--color_black)
}

.item_project .top_status .project_handler {
    position: relative;
}

.project_handler>button {
    height: 100%;
    width: 35px;
    border-radius: 5px;
    transition: 0.2s all ease;
}

.project_handler .table_handler {
    display: flex;
    position: absolute;
    inset: 45px 0 auto auto;
    padding: 10px;
    border-radius: 10px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

.table_handler button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    border-radius: 50px;
    gap: 10px;
    cursor: pointer;
}

.table_handler .hide_handler,
.table_handler .show_handler {
    background: var(--color_gray_light);
    color: var(--color_black);
}

.table_handler .delete_handler {
    background: var(--color_red_light);
    color: var(--color_white);
}

.content_project {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
}

.content_project .description {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.content_project .description p {
    font-size: 16px;
}

.item_project .join_project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background: var(--color_blue);
    color: var(--color_white);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.item_project .confirm_handler {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    inset: 0;
    z-index: 2;
}

.confirm_handler .form_confirm {
    z-index: 1;
}

.item_project .confirm_handler::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color_white);
    opacity: 0.8;
}

.form_confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
}

.form_confirm .confirm_text {
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--color_gray);
    background: var(--color_white);
    flex-direction: column;
    gap: 10px;
}

.confirm_text h4 {
    width: max-content;
    padding: 5px 20px;
    border-radius: 50px;
}

.confirm_text .hide_func {
    color: var(--color_blue);
    background: rgba(0, 0, 255, 0.1);
}

.confirm_text .delete_func {
    color: var(--color_red_light);
    background: rgba(255, 0, 0, 0.1);
}

.form_confirm .form_confirm_button {
    display: flex;
    width: 100%;
    gap: 15px;
}

.form_confirm_button button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-grow: 1;
    border-radius: 15px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.form_confirm_button .delete_button {
    background: var(--color_red_light);
    color: var(--color_white);
}

.form_confirm_button .hide_button,
.form_confirm_button .show_button {
    background: var(--color_gray_light);
    color: var(--color_black);
}

.form_confirm_button .cancel_button {
    background: var(--color_black);
    color: var(--color_white);
}

/*Social*/

#social {
    display: flex;
    position: relative;
    height: 100dvh;
    width: 100%;
    min-height: 100dvh;
    padding: 80px 0 70px 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
}

#social .my_social {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}

.my_social .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    flex-direction: row;
    padding: 0 20px;
    gap: 20px;
    z-index: 1;
}

.my_social .heading .social_btn {
    display: flex;
    position: relative;
    height: max-content;
    width: 100%;
    max-width: 300px;
    gap: 20px;
}

.social_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-grow: 1;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    background: var(--color_white);
    color: var(--color_black);
    transition: 0.2s all ease;
    z-index: 1;
}

.social_btn button.active {
    color: var(--color_white);
    background: transparent;
    transition: 0.2s all ease;
}

.social_btn #navigate_social {
    display: flex;
    position: absolute;
    height: 100%;
    width: calc(50% - 10px);
    background: var(--color_blue);
    border-radius: 10px;
    transition: .2s all ease;
}

.my_social .heading .social_search {
    display: flex;
    height: max-content;
    max-width: 300px;
    width: 100%;
}

.social_search input {
    display: flex;
    height: 35px;
    width: 100%;
    padding: 0 10px;
    outline: 2px solid var(--color_gray);
    border-radius: 5px;
}

.my_social .content_social {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
    padding: 10px 20px;
    overflow: auto;
}

#frame_social_content {
    display: flex;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
}

#frame_social_content .card_social {
    display: flex;
    position: relative;
    align-items: center;
    height: max-content;
    max-width: 450px;
    flex-grow: 1;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.card_social img {
    display: flex;
    padding: 5px;
    border: 2px solid var(--color_black);
    border-radius: 5px;
    flex-shrink: 0;
}

.card_social .card_info {
    display: flex;
    height: max-content;
    width: 100%;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 5px
}

.card_info .top_info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

.top_info .main_top {
    display: flex;
    height: max-content;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.card_info .top_info span {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    gap: 5px;
}

.card_social .card_info .tier {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    padding: 10px 20px;
    border-top: 2px solid var(--color_black);
    gap: 20px;
}

.tier span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: var(--color_black);
    color: var(--color_white);
    border-radius: 5px;
}

.tier .tier_info p {
    display: flex;
    align-items: baseline;
    height: max-content;
    font-size: 15px;
    gap: 5px;
}

.card_social .card_btns {
    display: flex;
    position: absolute;
    height: max-content;
    width: calc(100% - 110px);
    bottom: -30px;
    right: -2px;
    background: var(--color_white);
    padding: 10px 20px;
    border: 2px solid var(--color_gray_light);
    box-shadow: 5px 5px 10px var(--color_gray_light);
    border-radius: 10px;
    gap: 20px;
}

.card_social .card_btns::before {
    content: '';
    position: absolute;
    height: calc(50% + 2px);
    width: calc(100% + 2px);
    background: var(--color_white);
    inset: -2px;
}

.card_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-grow: 1;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color_white);
    cursor: pointer;
    z-index: 1;
}

.card_btns button:nth-child(1) {
    background: var(--color_blue);
}

.card_btns button:nth-child(2) {
    background: var(--color_black);
}

.card_team {
    display: flex;
    height: max-content;
    flex-grow: 1;
    max-width: 350px;
    min-width: 280px;
    border-radius: 15px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    transition: 0.2s all ease;
}

.card_team:hover {
    box-shadow: 0 5px 10px var(--color_gray);
    transition: 0.2s all ease;
}

.card_team .header_team {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.header_team img {
    display: flex;
    padding: 10px;
    background: var(--color_gray_light);
    border-radius: 50px;
    flex-shrink: 0;
}

.header_team .team_info {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.header_team .team_info div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height: max-content;
    font-size: 15px;
    width: 100%;
    gap: 5px;
}

.card_team .team_members {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.card_team .team_members strong {
    display: flex;
    width: max-content;
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--color_green);
    font-size: 14px;
    background: var(--color_green_light);
}

.card_team .team_members p {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 10px;
}

.team_members p span {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: var(--color_gray_light);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.team_members p span:hover {
    background: var(--color_black);
    transition: 0.2s all ease;
}

.team_members p span svg {
    color: var(--color_black);
    transition: 0.2s all ease;
}

.team_members p span:hover svg {
    color: var(--color_white);
    transition: 0.2s all ease;
}

.team_members p span:hover::before {
    content: attr(data-name);
    display: flex;
    position: absolute;
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    font-size: 12px;
    top: 35px;
    left: 0;
    background: var(--color_gray_light);
    border-radius: 5px;
}

.card_team .footer_team {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 15px;
}

.card_team .footer_team>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-grow: 1;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--color_white);
    background: var(--color_blue);
}

.footer_team .team_btns {
    display: flex;
    position: relative;
    height: max-content;
    width: max-content;
}

.footer_team .team_btns>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    transition: .2s all ease;
}

.footer_team .team_btns .team_dropdown {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 40px;
    padding: 10px;
    flex-direction: column;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    border-radius: 10px;
    gap: 10px;
}

.footer_team .team_btns .team_dropdown button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
}

.footer_team .team_btns .team_dropdown span {
    height: 2px;
    width: 100%;
    background: var(--color_black);
}

.footer_team .team_btns .team_dropdown .team_edit_btn {
    background: var(--color_gray_light);
    color: var(--color_black);
}

.footer_team .team_btns .team_dropdown .team_invite_btn {
    background: var(--color_black);
    color: var(--color_white);
}

.footer_team .team_btns .team_dropdown .team_delete_btn,
.footer_team .team_btns .team_dropdown .team_leave_btn {
    background: var(--color_red_light);
    color: var(--color_white);
}

.form_create_team {
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 30px;
    left: 30px;
    border-radius: 15px;
    padding: 10px;
    background: transparent;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s all ease;
    z-index: 2;
}

.form_create_team.shown {
    height: 400px;
    width: 300px;
    bottom: 10px;
    left: 10px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    transition: 0.2s all ease;
}

.form_create_team.shown .heading_create {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.form_create_team.shown .content_create {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    gap: 25px;
}

.content_create .create_input {
    display: flex;
    position: relative;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.content_create .create_input span {
    font-weight: 600;
    font-size: 14px;
}

.content_create .create_input input {
    height: 35px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid var(--color_gray_light);
    border-radius: 5px;
    transition: 0.2s all ease;
}

.content_create .create_input .error_create {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: -22px;
    font-size: 12px;
    color: var(--color_red);
    gap: 5px;
}

.content_create .create_input input:focus {
    border-color: var(--color_black);
    transition: 0.2s all ease;
}

.form_create_team.shown #handle_create {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 80%;
    border-radius: 50px;
    background: var(--color_blue);
    color: var(--color_white);
    font-weight: 600;
}

.form_create_team .create_handler {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 0px;
    background: var(--color_black);
    color: var(--color_white);
    transform: rotate(0deg);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.form_create_team.shown .create_handler {
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    background: var(--color_gray_light);
    color: var(--color_black);
    transform: rotate(45deg);
    transition: 0.2s all ease;
}

#social .main_social {
    display: flex;
    width: 100%;
    max-width: 425px;
    bottom: 0;
    right: 0;
    background: var(--color_white);
    border-top: 2px solid var(--color_gray);
    border-left: 2px solid var(--color_gray);
    border-top-left-radius: 15px;
    flex-direction: column;
}

.main_social .heading_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 100%;
    padding: 10px;
    gap: 15px;
}

.heading_view .input_social {
    display: flex;
    height: 35px;
    flex-grow: 1;
}

.heading_view .input_social input {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    outline: none;
    background: var(--color_gray_light);
    border-radius: 5px;
}

#filter_social {
    position: relative;
}

#filter_social>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: max-content;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 600;
    flex-shrink: 0;
    color: var(--color_white);
    background: var(--color_black);
    gap: 10px;
    transition: 0.2s all ease;
}

#filter_social .dropdown {
    display: flex;
    position: absolute;
    right: 0;
    background: var(--color_white);
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--color_gray);
    gap: 10px;
    z-index: 1;
}

#filter_social .dropdown button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 80px;
    font-size: 12px;
    background: transparent;
    color: var(--color_black);
    border-radius: 15px;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s all ease;
}

#filter_social .dropdown button:not(:disabled):hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

#filter_social .dropdown button:disabled {
    background: var(--color_black);
    color: var(--color_white);
    transition: 0.2s all ease;
}

.main_social .view_social {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    overflow: auto;
}

.view_social .frame_social {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.frame_social .item_social {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--color_gray);
    gap: 20px;
    overflow: hidden;
}

.item_social .tag_heading {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.item_social .tag_heading img {
    padding: 10px;
    border-radius: 50px;
    background: var(--color_gray_light);
    background-size: cover;
    background-image: center;
}

.item_social .tag_heading p {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px
}

.item_social button {
    display: flex;
    align-items: center;
    height: 35px;
    width: max-content;
    padding: 0 15px;
    border-radius: 10px;
    background: var(--color_blue);
    color: var(--color_white);
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}

.main_social .footer_view_social {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 10px 20px;
}

.main_social .footer_view_social button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 600;
    border-radius: 15px;
}

/* Other */
.input-search {
    display: flex;
    height: 40px;
    width: 100%;
    max-width: 450px;
    background: var(--color_white);
    outline: 2px solid var(--color_gray);
    border-radius: 50px;
    overflow: hidden;
}

.input-search input {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 20px;
    outline: none;
}

.input-search .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    color: var(--color_black);
    background: transparent;
    border-radius: 50px;
    outline: none;
    flex-shrink: 0;
    transition: 0.2s all ease
}

.input-search .filter svg {
    font-size: 16px;
}

.input-search .filter:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease
}

.input-search .filter.active {
    background: var(--color_gray_light);
    transition: 0.2s all ease
}

.table {
    display: flex;
    position: absolute;
    height: max-content;
    width: 100%;
    max-width: 450px;
    background: var(--color_white);
    outline: 2px solid var(--color_gray);
    border-radius: 10px;
    top: 60px;
    left: 0;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
}

.table .content_table {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}

.content_table .filter_value {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.content_table .filter_value span {
    display: flex;
    height: 30px;
    align-items: center;
    background: rgba(0, 0, 255, 0.1);
    color: var(--color_blue);
    font-size: 12px;
    padding: 0 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
}

.content_table .filter_value button {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 15px;
    border-radius: 5px;
    transition: 0.2s all ease;
}

.table .footer_table {
    display: flex;
    justify-content: flex-end;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.table .footer_table button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 600;
    font-size: 14px;
    gap: 10px;
    cursor: pointer;
}

/* Media */
@media screen and (max-width: 1440px) {
    #social .main_social {
        position: absolute;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .item_project .heading-item {
        gap: 20px;
        flex-direction: column;
    }

    .heading-item .status {
        height: max-content;
    }
}

@media screen and (max-width: 425px) {

    /* Overview */
    .overview-container .overview-user {
        width: 100%;
    }

    .overview-user .user-container {
        width: 100%;
    }

    .user-container .user-info {
        flex-direction: column;
    }

    .info .profile {
        align-items: center;
    }

    .profile h2 {
        font-size: 18px;
    }

    /* Project and Course */
    #project-btn span,
    #course-btn span {
        display: none;
    }

    .heading-item .item h3 {
        font-size: 16px;
    }

    .item_project .handle-project {
        justify-content: center;
    }

    .handle-project .table-handle {
        display: flex;
        position: absolute;
        height: max-content;
        width: max-content;
        top: 10px;
        right: 10px;
        background-color: transparent;
        flex-direction: column;
        gap: 10px;
    }

    .table-handle>button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        font-size: 18px;
        padding: 0;
    }

    .table-handle>button span {
        display: none;
    }

    .table-handle .delete-btn {
        color: var(--color_white);
        background: var(--color_black);
    }

    .table-handle .hidden-btn {
        color: var(--color_black);
        background: var(--color_gray_light_light);
    }

    .handle-project .join-project {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 180px;
        background: var(--color_blue);
        color: var(--color_white);
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
    }

    /* Social */
    .my_social .heading .social_search {
        max-width: none;
        gap: 10px;
    }

    .my_social .heading .social_mobile {
        display: flex;
        position: relative;
        flex-shrink: 0;
    }

    .social_mobile>button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        background: var(--color_gray_light);
        color: var(--color_black);
        border-radius: 5px;
        transition: 0.2s all ease;
    }

    .social_mobile.active>button {
        background: var(--color_black);
        color: var(--color_white);
        transition: 0.2s all ease;
    }

    .social_mobile .social_mobile_btns {
        display: flex;
        position: absolute;
        top: 45px;
        right: 0px;
        padding: 10px;
        border-radius: 10px;
        background: var(--color_white);
        box-shadow: 0 0 5px var(--color_gray);
        transform: scale(0);
        transform-origin: top right;
        flex-directioN: column;
        gap: 10px;
    }

    .social_mobile.active .social_mobile_btns {
        transform: scale(1);
        transition: 0.2s all ease;
    }

    .social_mobile .social_mobile_btns button {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 20px;
        border-radius: 15px;
        background: var(--color_gray_light);
        color: var(--color_black);
        font-weight: 600;
        gap: 10px;
        transition: 0.2s all ease;
    }



    .social_mobile_btns button.active {
        color: var(--color_white);
        background: var(--color_blue);
        transition: 0.2s all ease;
    }

    #social .main_social {
        border-left: 0;
        border-radius: 0;
    }

    .card_social .card_btns {
        width: calc(100% + 4px);
    }

    .card_social .card_btns::before {
        width: 100%;
        left: 0;
    }

    .top_info .main_top h3 {
        font-size: 16px;
    }

    .frame_social .item_social {
        align-items: flex-end;
        flex-direction: column;
    }

    .form_create_team {
        bottom: 90px;
    }

    .form_create_team.shown {
        height: calc(100% - 60px);
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
}