/* Overview */
#overview {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    padding: 70px 20px 20px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

#overview .overview-container {
    display: flex;
    height: max-content;
    flex-grow: 1;
    gap: 20px;
    flex-direction: column;
    flex-basis: 400px;
}

.overview-container .overview-user {
    display: flex;
    justify-content: center;
    height: max-content;
    width: max-content;
    min-height: 200px;
    min-width: 300px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid var(--color_gray);
    box-shadow: 0 0 10px var(--color_gray);
    flex-direction: column;
    gap: 20px;
}

.overview-user .user-container {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    flex-direction: column;
    gap: 20px;
}

.user-container .user-info {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.user-info img {
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid #ccc;
}

.user-info .info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: max-content;
    gap: 10px;
    flex-direction: column;
}

.info .profile {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.profile span {
    font-size: 14px;
}

.user-info .exprience {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    font-size: 15px;
    flex-direction: column;
}

.exprience p {
    display: flex;
    align-items: flex-end;
    height: max-content;
    width: 100%;
    flex-direction: row;
    gap: 10px;
}

.exprience p span:nth-child(1) {
    font-size: 14px;
}

.exprience p span:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
}

.overview-container #edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    max-width: 200px;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 700;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.overview-container .course-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    flex-grow: 1;
    border-radius: 10px;
    border: 2px solid var(--color_gray);
    flex-direction: column;
    box-shadow: 0 0 10px var(--color_gray);
    gap: 20px;
    padding: 10px 0 20px 0;
    overflow: hidden;
}

.main-progress {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.main-progress .progress-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
    background: transparent;
    transition: 0.2s all ease;
}

.progress-item:not(:first-child) .heading:hover {
    background: var(--color_gray);
    transition: 0.2s all ease;
    cursor: pointer;
}

.progress-item .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

.heading .title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: max-content;
    padding: 0 20px;
    flex-direction: column;
}

.title h5 {
    text-transform: uppercase;
    user-select: none;
}

.progress-item .heading .title>span {
    font-size: 13px;
    font-weight: 500;
}

.progress-item .heading .title p {
    font-size: 14px;
    font-weight: 600;
}

.progress-item .heading svg {
    margin-right: 20px;
}

.progress-item .detail {
    display: flex;
    width: 100%;
    gap: 10px;
    overflow: hidden;
}

.progress-item .detail .info {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.progress-item .detail .info .item {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color_gray);
    box-shadow: 0 0 10px var(--color_gray);
    gap: 20px;
    flex-wrap: wrap;
}

.progress-item .item .header {
    display: flex;
    align-items: center;
    height: max-content;
    flex-grow: 1;
    gap: 10px;
}

.progress-item .item>span {
    display: flex;
    height: max-content;
    width: max-content;
    padding: 10px 15px;
    font-size: 10px;
    text-transform: uppercase;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 600;
    border-radius: 5px;
}

#no-course {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.course-progress .footer {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
}

.course-progress .footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    max-width: 250px;
    background: var(--color_black);
    color: var(--color_white);
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
}

.language {
    display: flex;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--color_gray);
    box-shadow: 0 0 10px var(--color_gray);
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.language .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: transparent;
    flex-shrink: 0;
    transition: 0.2s all ease;
}

.language .header:hover {
    background: var(--color_gray);
    transition: 0.2s all ease;
    cursor: pointer;
}

.language .header h5 {
    text-transform: uppercase;
    margin-left: 20px;
}

.language .header svg {
    margin-right: 20px;
}

.language .main-language {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
}

.language .language-container {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.language-container .language-item {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.heading-language {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    gap: 20px;
}

.heading-language>span {
    display: flex;
    font-size: 25px;
}

.language-item .bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: 1px solid var(--color_gray);
    gap: 10px;
}

.language-item .bar>span {
    display: flex;
    height: 5px;
}

#error_analyze {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.course .course-recently,
.course .course-enrolled {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.course-recently h3,
.course-enrolled h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    padding: 10px 0;
}

.list-course {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.list-course .course-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--color_black);
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
}

.course-item .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.course-item .item>span {
    display: flex;
    height: max-content;
    width: max-content;
    margin-top: 5px;
    font-size: 30px;
}

.course-item .item .info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
}

.course-item .info span {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.course-item .info .progress-bar {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    flex-direction: column;
}

.progress-bar .bar {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.progress-bar .bar p {
    display: flex;
    height: 10px;
    width: 70%;
    border-radius: 5px;
    outline: 1px solid #ccc;
    overflow: hidden;
}

.course-btn {
    display: flex;
    justify-content: flex-end;
    height: max-content;
    width: 100%;
}

.course-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    padding: 10px 15px;
    background: var(--color_black);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

/* Course */
#myCourse {
    display: flex;
    height: max-content;
    width: 100%;
    min-height: 100dvh;
    padding: 70px 20px 20px 20px;
    flex-direction: column;
    gap: 20px;
}

#myCourse .heading-myCourse {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 10px 0;
    gap: 20px;
    z-index: 1;
}

#search .filter {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    color: var(--color_black);
    background: transparent;
    transition: 0.2s all ease
}

#search .filter:hover {
    background: var(--color_gray);
    transition: 0.2s all ease
}

#search .filter.active {
    background: var(--color_gray);
    transition: 0.2s all ease
}

#course_table {
    display: flex;
    position: absolute;
    height: 200px;
    width: 100%;
    background: var(--color_white);
    border: 2px solid var(--color_black);
    border-radius: 5px;
    top: 50px;
    padding: 15px;
    flex-direction: column;
}

#course_table .content_table {
    display: flex;
    flex-grow: 1;
}

#course_table .footer_table {
    display: flex;
    justify-content: flex-end;
    height: max-content;
    width: 100%;
    gap: 10px;
}

#course_table .footer_table button {
    display: flex;
    align-items: center;
    height: 30px;
    width: max-content;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

#cancel_btn {
    background: var(--color_gray);
    color: var(--color_black);
}

#apply_btn {
    background: var(--color_black);
    color: var(--color_white);
}

.handle-course {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.handle-course #course-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 700;
    border-radius: 10px;
    padding: 0 20px;
    gap: 10px;
    cursor: pointer;
}

#myCourse .course-frame {
    display: flex;
    height: max-content;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 30px;
}

#myCourse .course-frame .course {
    display: flex;
    position: relative;
    align-items: center;
    height: max-content;
    min-height: 420px;
    max-width: 350px;
    flex-basis: 300px;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px var(--color_gray);
    border: 2px solid var(--color_gray);
    flex-direction: column;
    gap: 20px
}

.course .heading-course {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.course .heading-course h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.course .content-course {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}

.course .content-course .item {
    display: flex;
    gap: 5px
}

.course .content-course .item:first-child {
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
    background: var(--color_gray);
    border-radius: 10px;
}

.course .content-course .item:first-child h4 {
    text-transform: uppercase;
    font-size: 14px;
}

.course .footer-course {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 90%;
    gap: 10px;
}

.setting-course .setting-list {
    display: flex;
    position: absolute;
}

.footer-course .setting-course {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: var(--color_black);
    border-radius: 50px;
    background: var(--color_gray);
    font-size: 18px;
}

.course .footer-course .join-course {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    flex-grow: 1;
    background: var(--color_blue);
    text-transform: uppercase;
    color: var(--color_white);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.footer-course .setting-list {
    display: flex;
    height: max-content;
    flex-grow: 1;
    gap: 10px;
}

.setting-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 600;
    gap: 10px;
    font-size: 14px;
    color: var(--color_white);
    border-radius: 5px;
}

.setting-list .hide-course {
    width: 40px;
    background: var(--color_black);
}

.setting-list .cancel-course {
    flex-grow: 1;
    background: var(--color_red);
}

/* Project */
#myProject {
    display: flex;
    height: max-content;
    width: 100%;
    min-height: 100dvh;
    padding: 70px 20px 20px 20px;
    flex-direction: column;
    gap: 20px;
}

#myProject .heading-myProject {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 10px 0;
    gap: 20px;
}

.handle-project {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.handle-project #project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 700;
    padding: 0 20px;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.project-list {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    flex-grow: 1;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.item-project {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    height: max-content;
    max-width: 450px;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color_gray);
    border: 2px solid var(--color_gray);
    padding: 20px;
    gap: 30px;
    flex-basis: 400px;
    flex-direction: column;
}

.item-project .heading-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.heading-item .item {
    display: flex;
    align-items: center;
    height: max-content;
    max-width: 100%;
    padding-right: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.heading-item .item span {
    display: flex;
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--color_black);
    color: var(--color_white);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    flex-shrink: 0;
}

.heading-item .status {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    gap: 10px;
}

.heading-item .status span {
    display: flex;
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    border-radius: 50px;
    background: var(--color_black);
    color: var(--color_white);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-item .status p {
    font-size: 14px;
}

.item-project .description {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.item-project .handle-project {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: max-content;
    width: 100%;
}

.handle-project .table-handle {
    display: flex;
    height: 100%;
    width: max-content;
    gap: 10px;
}

.table-handle>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    font-weight: 600;
    gap: 5px;
}

.table-handle .delete-btn {
    color: var(--color_white);
    background: var(--color_black);
}

.table-handle .hidden-btn {
    color: var(--color_black);
    background: var(--color_gray);
}

.handle-project .join-project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 150px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: var(--color_white);
    background: var(--color_blue);
    font-weight: 600;
    border-radius: 5px;
}

/*Social*/

#social {
    display: flex;
    position: relative;
    height: 100dvh;
    width: 100%;
    min-height: 100dvh;
    padding-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

#social .my_social {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

.my_social .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 0 20px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

.my_social .heading .social_btn {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.social_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70px;
    padding: 0 10px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--color_black);
    background: var(--color_gray);
    cursor: pointer;
    transition: 0.2s all ease;
}

.social_btn button.active {
    color: var(--color_white);
    background: var(--color_black);
    transition: 0.2s all ease;
}

.my_social .heading .social_search {
    display: flex;
    height: max-content;
    max-width: 300px;
    flex-grow: 1;
}

.social_search input {
    display: flex;
    height: 35px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: 2px solid var(--color_black);
    border-radius: 5px;
}

.my_social .content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: auto;
}

#frame_social {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 20px 20px 100px 20px;
    flex-wrap: wrap;
    gap: 50px;
}

#frame_social .card_social {
    display: flex;
    position: relative;
    align-items: center;
    height: max-content;
    max-width: 450px;
    flex-grow: 1;
    border: 2px solid var(--color_gray);
    box-shadow: 0 0 10px var(--color_gray);
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}

.card_social img {
    display: flex;
    padding: 5px;
    border: 2px solid var(--color_black);
    border-radius: 5px;
    flex-shrink: 0;
}

.card_social .card_info {
    display: flex;
    height: max-content;
    width: 100%;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 5px
}

.card_info .top_info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

.top_info .main_top {
    display: flex;
    height: max-content;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.card_info .top_info span {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    gap: 5px;
}

.card_social .card_info .tier {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    padding: 10px 20px;
    border-top: 2px solid var(--color_black);
    gap: 20px;
}

.tier span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: var(--color_black);
    color: var(--color_white);
    border-radius: 5px;
}

.tier .tier_info p {
    display: flex;
    align-items: baseline;
    height: max-content;
    font-size: 15px;
    gap: 5px;
}

.card_social .card_btns {
    display: flex;
    position: absolute;
    height: max-content;
    width: calc(100% - 110px);
    bottom: -30px;
    right: -2px;
    background: var(--color_white);
    padding: 10px 20px;
    border: 2px solid var(--color_gray);
    box-shadow: 5px 5px 10px var(--color_gray);
    border-radius: 10px;
    gap: 20px;
}

.card_social .card_btns::before {
    content: '';
    position: absolute;
    height: calc(50% + 2px);
    width: calc(100% + 2px);
    background: var(--color_white);
    inset: -2px;
}

.card_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-grow: 1;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color_white);
    cursor: pointer;
    z-index: 1;
}

.card_btns button:nth-child(1) {
    background: var(--color_blue);
}

.card_btns button:nth-child(2) {
    background: var(--color_black);
}

.card_team {
    display: flex;
    height: max-content;
    flex-grow: 1;
    max-width: 350px;
    border-radius: 5px;
    border: 2px solid var(--color_gray);
    box-shadow: 0 0 10px var(--color_gray);
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.card_team .header_team {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.header_team img {
    display: flex;
    padding: 5px;
    border: 2px solid var(--color_black);
    border-radius: 5px;
    flex-shrink: 0;
}

.header_team .team_info {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

.header_team .team_info div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height: max-content;
    width: 100%;
    gap: 5px;
}

.team_info div p {
    font-size: 15px;
}

.card_team .team_members {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.card_team .team_members p {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 10px;
}

.team_members p span {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: var(--color_gray);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.team_members p span:hover {
    background: var(--color_black);
    transition: 0.2s all ease;
}

.team_members p span svg {
    color: var(--color_black);
    transition: 0.2s all ease;
}

.team_members p span:hover svg {
    color: var(--color_white);
    transition: 0.2s all ease;
}

.team_members p span:hover::before {
    content: attr(data-name);
    display: flex;
    position: absolute;
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    font-size: 12px;
    top: 35px;
    left: 0;
    background: var(--color_gray);
    border-radius: 5px;
}

.card_team .footer_team {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.card_team .footer_team button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-grow: 1;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: var(--color_white);
}

.card_team .footer_team button:nth-child(1) {
    background: var(--color_black);
}

.card_team .footer_team button:nth-child(2) {
    background: var(--color_blue);
}

#social .main_social {
    display: flex;
    width: 100%;
    max-width: 425px;
    bottom: 0;
    right: 0;
    background: var(--color_white);
    border-top: 2px solid var(--color_gray);
    border-left: 2px solid var(--color_gray);
    border-top-left-radius: 15px;
    flex-direction: column;
    overflow: hidden;
}

.main_social .heading_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.heading_view .input_social {
    display: flex;
    height: 35px;
    flex-grow: 1;
}

.heading_view .input_social input {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--color_black);
}

.heading_view button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: max-content;
    color: var(--color_white);
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 600;
    cursor: pointer;
    flex-shrink: 0;
    gap: 10px;
    transition: 0.2s all ease;
}

.main_social .view_social {
    display: flex;
    height: max-content;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
    overflow: auto;
}

.view_social .item_social {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color_gray);
    box-shadow: 0 0 5px var(--color_gray);
    overflow: hidden;
    transition: 0.2s all ease;
}

.item_social .tag_heading {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    gap: 10px;
}

.tag_heading button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: var(--color_blue);
    color: var(--color_white);
}

.item_social>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: var(--color_gray);
    color: var(--color_black);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.item_social>button:hover {
    background: var(--color_black);
    color: var(--color_white);
    transition: 0.2s all ease;
}

@media screen and (max-width: 1440px) {
    #social .main_social {
        position: absolute;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .item-project .heading-item {
        gap: 20px;
        flex-direction: column;
    }

    .heading-item .status {
        height: max-content;
    }
}

@media screen and (max-width: 425px) {

    /* Overview */
    .overview-container .overview-user {
        width: 100%;
    }

    .overview-user .user-container {
        width: 100%;
    }

    .user-container .user-info {
        flex-direction: column;
    }

    .info .profile {
        align-items: center;
    }

    .profile h2 {
        font-size: 18px;
    }

    /* Project and Course */
    #project-btn span,
    #course-btn span {
        display: none;
    }

    .heading-item .item h3 {
        font-size: 16px;
    }

    .item-project .handle-project {
        justify-content: center;
    }

    .handle-project .table-handle {
        display: flex;
        position: absolute;
        height: max-content;
        width: max-content;
        top: 10px;
        right: 10px;
        background-color: transparent;
        flex-direction: column;
        gap: 10px;
    }

    .table-handle>button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        font-size: 18px;
        padding: 0;
    }

    .table-handle>button span {
        display: none;
    }

    .table-handle .delete-btn {
        color: var(--color_white);
        background: var(--color_black);
    }

    .table-handle .hidden-btn {
        color: var(--color_black);
        background: var(--color_gray);
    }

    .handle-project .join-project {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 180px;
        background: var(--color_blue);
        color: var(--color_white);
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
    }

    /* Social */
    #social .main_social {
        border-left: 0;
        border-radius: 0;
    }

    .card_social .card_btns {
        width: calc(100% + 4px);
    }

    .card_social .card_btns::before {
        width: 100%;
        left: 0;
    }

    .top_info .main_top h3 {
        font-size: 16px;
    }
}