#dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  user-select: none;
  flex-direction: column;
  background: transparent;
  z-index: 1;
  gap: 20px;
  transition: 0.2s all ease;
}

#handler_dashboard {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px;
}

#handler_dashboard button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  flex-grow: 1;
  background: var(--color_gray_light);
  color: var(--color_black);
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
}

#handler_dashboard #feedback {
  background: var(--color_black);
  color: var(--color_white);
  gap: 10px;
}

#dashboard .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 20px;
  flex-shrink: 0;
  gap: 20px;
  border-bottom: 2px solid var(--color_black);
}

#dashboard .header button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  flex-grow: 1;
  background: var(--color_blue);
  color: var(--color_white);
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  gap: 10px;
  cursor: pointer;
}

#dashboard .main-menu {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  padding: 0px 10px;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}

.main-menu::-webkit-scrollbar {
  display: none;
}

.main-menu .search_in_dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  background: var(--color_gray_light);
  border: 2px solid var(--color_gray);
  color: var(--color_black);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  flex-shrink: 0;
  gap: 10px;
  cursor: pointer;
}

.main-menu .menu {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.menu .menu-item button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 5px;
  background: transparent;
  color: var(--color_black);
  gap: 20px;
  transition: 0.5s all ease;
}

.menu .menu-item button.active {
  background: var(--color_gray_light);
  font-weight: 600;
  color: var(--color_blue);
  transition: 0.5s all ease;
}

.menu .menu-item button:not(.active):hover {
  background: var(--color_gray_light);
  transition: 0.2s all ease;
}

.menu .menu-item button svg {
  font-size: 18px;
}

#navigation {
  display: flex;
  position: absolute;
  height: 39px;
  width: 2px;
  inset: 0;
  background: var(--color_blue);
  transition: 0.2s all ease;
}

#dashboard .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border-top: 1px solid #ccc;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.2s all ease;
}

#dashboard .footer-menu.show {
  height: 120px;
}

.footer-menu .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: transparent;
  color: var(--color_black);
  padding: 0 20px;
  cursor: pointer;
}

.footer-menu.show .heading {
  background: var(--color_gray_light);
}

.footer-menu .heading span {
  display: flex;
  background: var(--color_gray_light);
  color: var(--color_black);
  border-radius: 15px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.footer-menu.show .heading span {
  background: var(--color_green_light);
  color: var(--color_green);
}

.footer-menu.show .other-frame {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 0 10px;
  gap: 20px;
}

.footer-menu .other-frame {
  display: none;
}

.other-frame button {
  display: flex;
  align-items: center;
  height: 35px;
  color: var(--color_white);
}

#help {
  justify-content: flex-start;
  flex-grow: 1;
  padding-left: 20px;
  background: var(--color_blue_light);
  font-weight: 700;
  border-radius: 5px;
  font-size: 14px;
  gap: 30px;
}

#settings {
  justify-content: center;
  width: 35px;
  border-radius: 5px;
  background: var(--color_black);
  font-size: 16px;
}

#hidden-menu {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  bottom: 10px;
  right: -40px;
  color: var(--color_black);
  border-radius: 5px;
  background: var(--color_white);
}

/* Homepage */

.navigate-auth {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  padding: 20px 10px;
  flex-direction: column;
  gap: 20px;
}

.navigate-auth h3 {
  font-size: 15px;
  text-align: center;
}

.navigate-auth button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background: var(--color_blue);
  color: var(--color_white);
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}