.feedback_container {
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    background: transparent;
    overflow-y: scroll;
    z-index: 5;
}

#feedback-form {
    display: flex;
    position: relative;
    height: max-content;
    width: 450px;
    min-height: 100%;
    background: #fff;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    transition: 0.2s all ease;
    overflow: hidden;
}

#feedback-form>button {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 25px;
    background: transparent;
    border-radius: 50px;
    color: var(--color_black);
    transition: 0.2s all ease;
    cursor: pointer;
}

#feedback-form>button:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

.heading-feedback {
    display: flex;
    height: max-content;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    flex-direction: column;
    gap: 20px;
}

.heading-feedback .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 5px var(--color_gray);
    gap: 10px;
}

.info p {
    font-size: 14px;
}

.modal-feedback {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 20px 10px 20px;
    gap: 30px;
}

.feedback-field {
    display: flex;
    position: relative;
    height: max-content;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.feedback-field:last-child {
    flex-grow: 1;
}

.feedback-field .heading-field {
    display: flex;
    font-weight: 600;
    font-size: 14px;
}

.feedback-field input {
    display: flex;
    height: 40px;
    width: 100%;
    max-width: 300px;
    background: var(--color_gray_light);
    border-radius: 10px;
    outline: 2px solid var(--color_gray_light);
    padding: 0 10px;
    font-size: 14px;
    transition: 0.2s all ease;
}

.feedback-field input:focus {
    outline-color: var(--color_black);
    transition: 0.2s all ease;
}

.feedback-field textarea {
    display: flex;
    height: 150px;
    width: 100%;
    resize: none;
    padding: 10px;
    background: var(--color_gray_light);
    outline: 2px solid var(--color_gray_light);
    font-size: 14px;
    border-radius: 10px;
}

.feedback-field textarea:focus {
    outline-color: var(--color_black);
}

.feedback-field .error_validation {
    display: flex;
    position: absolute;
    align-items: center;
    height: max-content;
    width: max-content;
    bottom: -25px;
    font-size: 13px;
    gap: 5px;
    color: var(--color_red);
}

.footer-feedback {
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.footer-feedback button {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    color: var(--color_white);
    border-radius: 15px;
    font-weight: 700;
    font-size: 13px;
}

#reset {
    background: var(--color_black);
    width: 100px;
}

#send {
    position: relative;
    flex-grow: 1;
    background: var(--color_blue);
    padding-right: 50px;
    cursor: pointer;
}

#send span {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 10px;
    background: var(--color_white);
    border-radius: 50px;
    color: var(--color_blue);
    font-size: 20px;
}

@media screen and (max-width: 425px) {
    .feedback_container {
        padding: 0px;
    }

    #feedback-form {
        height: max-content;
        border-radius: 0px;
    }

    .feedback-field input,
    .feedback-field textarea {
        font-size: 16px;
    }

    .feedback-field input::placeholder,
    .feedback-field textarea::placeholder {
        font-size: 14px;
    }
}