.manage_container {
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    overflow-y: scroll;
    z-index: 5;
}

#manage_panel {
    display: flex;
    position: relative;
    height: max-content;
    min-height: 100%;
    width: 100%;
    max-width: 1000px;
    padding: 15px 20px;
    background: var(--color_white);
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.heading_manage {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.heading_manage img {
    height: 25px;
    width: 25px;
}

.content_manage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    gap: 20px;
}

.content_manage .beside {
    display: flex;
    align-items: center;
    height: 100%;
    width: 250px;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
}

.content_manage .beside .header_beside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
    box-shadow: 0 0 5px var(--color_gray);
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
}

.content_manage .beside .beside_banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: max-content;
    width: 100%;
    box-shadow: 0 0 5px var(--color_gray);
    border-radius: 5px;
    padding: 15px 10px;
    flex-direction: column;
    gap: 10px;
}

.beside .beside_banner h5 {
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color_green);
    background: var(--color_green_light);
}

.beside .beside_banner p {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
}

.footer_beside p span {
    display: flex;
    gap: 5px;
}

.content_manage .info_container {
    display: flex;
    justify-content: center;
    height: max-content;
    min-height: 300px;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 0 5px var(--color_gray);
    padding: 30px 20px;
    border-radius: 15px;
    gap: 20px;
}

.info_container .heading_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    flex-wrap: wrap-reverse;
    gap: 30px;
}

.heading_info .beside_info {
    display: flex;
    height: max-content;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}

.info_header {
    display: flex;
    align-items: flex-start;
    height: max-content;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.info_header .user_banner {
    display: flex;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.user_banner .user_banner_wrapper {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.user_banner .image_banner {
    display: flex;
    justify-content: center;
    height: initial;
    flex-grow: 1;
    gap: 20px;
}

.image_banner .image_wrapper {
    display: flex;
    position: relative;
    border: 2px solid var(--color_gray);
    border-radius: 10px;
}

.image_banner .image_wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--color_gray_light);
    opacity: 0.5;
    border-radius: 7px;
    visibility: hidden;
    z-index: 1;
}

.image_banner .image_wrapper:hover::before {
    visibility: visible;
}

.image_banner .image_wrapper img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.image_wrapper .image_actions {
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    transform: scale(0);
    visibility: hidden;
    transition: 0.2s all ease;
    gap: 10px;
    z-index: 1;
}

.image_wrapper:hover .image_actions {
    visibility: visible;
    transform: scale(1);
    transition: 0.2s all ease;
}

.image_actions .image_import {
    display: flex;
    position: relative;
    height: max-content;
    width: max-content;
    background: transparent;
    border-radius: 50%;
    transition: 0.2s all ease;
    overflow: hidden;

    &:hover {
        background: var(--color_white);
        transition: 0.2s all ease;
    }
}

.image_actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--color_white_light);
    color: var(--color_black);
    transition: 0.2s all ease;

    &:hover {
        background: var(--color_white);
        transition: 0.2s all ease;
    }
}

.image_actions .image_import #file {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    opacity: 0;
    inset: 0;
}

#zoom_overlay {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 2;
}

#zoom_overlay .zoom_container {
    position: relative;
    height: 300px;
    width: 300px;
}

#zoom_overlay #zoom_range {
    position: absolute;
    height: 10px;
    width: 300px;
    left: calc(50% - 150px);
    bottom: 50px;
    background: var(--color_white);
    outline: none;
    appearance: none;
    border-radius: 50px;
    cursor: grab;
}

#zoom_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: var(--color_gray_dark);
    border-radius: 50%;
}

#zoom_overlay #close_zoom {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background: transparent;
    color: var(--color_white);
    transition: 0.2s all ease;
    cursor: pointer;

    &:hover {
        background: var(--color_white_light);
        transition: 0.2s all ease;
    }
}

.image_wrapper #cancel_preview {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    top: -20px;
    right: -30px;
    border-radius: 50%;
    background: var(--color_gray_light);
    color: var(--color_black);
}

.user_banner .info_banner {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.info_banner .info_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    gap: 10px;
}

.info_banner .info_wrapper h2 {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.info_banner .info_wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 14px;
    background: var(--color_gray_light);
    color: var(--color_black);
    font-weight: 600;
    gap: 10px;
    flex-shrink: 0;
    transition: 0.2s all ease;
    cursor: pointer;

    &:hover {
        background: var(--color_black);
        color: var(--color_white);
        transition: 0.2s all ease;
    }
}

.user_banner .info_banner p {
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--color_blue);
    color: var(--color_white);
}

.stats_banner {
    display: flex;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.stats_banner .banner {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 150px;
    font-weight: 600;
    border-radius: 5px;
    outline: 2px solid var(--color_gray);
    overflow: hidden;
}

.stats_banner .banner span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 80px;
    font-size: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    background: var(--color_black);
    color: var(--color_white);
    gap: 10px;
}

.stats_banner .banner p {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
}

.heading_info .beside_info p {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    font-size: 15px;
    gap: 5px;
}

.heading_info .beside_info input {
    height: 25px;
    font-size: 13px;
    padding: 0 5px;
    border: none;
    outline: 2px solid transparent;
    border-radius: 5px;
    transition: 0.2s all ease;
}

.heading_info #modify_btns {
    display: flex;
    justify-content: flex-end;
    height: initial;
    flex-grow: 1;
    gap: 20px;
}

#modify_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
    gap: 15px;
}

#modify_btns #edit_info {
    width: 80px;
    background: var(--color_gray_light);
    color: var(--color_black);
}

#modify_btns #save_info {
    width: 100px;
    background: var(--color_black);
    color: var(--color_white);
    cursor: pointer;
}

.info_container .input_info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.input_info .item {
    display: flex;
    position: relative;
    align-items: flex-start;
    height: max-content;
    flex: 1 1 auto;
    gap: 5px;
}

.input_info .item:nth-child(3),
.input_info .item:nth-child(4) {
    width: 100%;
}

.input_info .item label {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    flex-shrink: 0;
}

.item .input_item {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.item .input_item input {
    display: flex;
    height: 40px;
    width: 100%;
    background: transparent;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 5px;
    outline: 2px solid transparent;
    transition: 0.2s all ease;
}

.item .input_item .error_input {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.input_item .error_input p {
    display: flex;
    position: absolute;
    width: max-content;
    right: 0;
    top: 25px;
    padding: 10px 15px;
    background: var(--color_gray_light);
    color: var(--color_black);
    font-size: 13px;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top right;
    transition: 0.2s all ease;
    transition-delay: 0.5s;
    z-index: 1;
    cursor: default
}

.input_item .error_input:hover p {
    transform: scale(1);
    transition: 0.2s all ease;
}

.info_container input.modify {
    outline-color: var(--color_gray_light);
    transition: 0.2s all ease;
}

.info_container input.has_error {
    outline-color: var(--color_red);
    padding-right: 40px;
    transition: 0.2s all ease;
}

.info_container input.modify:focus {
    outline-color: var(--color_black);
    transition: 0.2s all ease;
}

.info_container textarea {
    display: flex;
    height: 150px;
    max-width: 400px;
    flex-grow: 1;
    font-size: 15px;
    background: transparent;
    padding: 10px;
    text-wrap: wrap;
    resize: none;
    outline: none;
}

.info_container textarea.modify {
    outline: 2px solid var(--color_gray_light);
    border-radius: 5px;
}

.info_container textarea.modify:focus {
    outline-color: var(--color_black);
}

.footer-manage {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.footer-manage>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    color: var(--color_white);
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#change-account {
    background: var(--color_blue);
    flex-grow: 1;
    max-width: 250px;
}

#logout {
    width: 100px;
    background: var(--color_black);
}

#cancel-manage {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    top: 15px;
    right: 15px;
    border-radius: 50px;
    color: var(--color_black);
    background: transparent;
    font-size: 18px;
    transition: 0.2s all ease;
    cursor: pointer;
}

#cancel-manage:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

@keyframes animateTimeout {
    0% {
        width: 0%;
    }

    100% {
        display: none;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .manage_container {
        padding: 0;
    }

    #manage_panel {
        border-radius: 0;
    }

    .content_manage {
        flex-direction: column;
    }

    .content_manage .beside {
        width: 100%;
        flex-direction: row;
    }
}

@media screen and (max-width: 425px) {
    .content_manage .beside {
        flex-wrap: wrap;
    }

    #modify_btns #edit_info {
        flex-grow: 1;
    }
}