.manage-container {
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    overflow-y: scroll;
    z-index: 5;
}

#managePanel {
    display: flex;
    position: relative;
    height: max-content;
    min-height: 100%;
    width: 100%;
    max-width: 1000px;
    padding: 15px 20px;
    background: var(--color_white);
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
}

.heading-manage {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    gap: 10px;
}

.content-manage {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

.content-manage .info-manage {
    display: flex;
    height: 100%;
    flex-grow: 1;
    gap: 20px;
}

.info-manage .beside {
    display: flex;
    align-items: center;
    height: 100%;
    width: 250px;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
}

.info-manage .beside .header_beside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
    border: 2px solid var(--color_black);
    padding: 15px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
}

.info-manage .beside .footer_beside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: max-content;
    border: 2px solid var(--color_black);
    border-radius: 10px;
    padding: 10px 0;
    flex-direction: column;
    gap: 10px;
}

.beside .footer_beside p {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    font-size: 15px;
    padding: 0 20px;
    gap: 10px;
}

.footer_beside p span {
    display: flex;
    gap: 5px;
}

.beside .header_beside #myAvatar {
    display: flex;
    height: max-content;
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color_gray);
}

.content-manage .beside .image-btns {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
    width: 100%;
    gap: 20px;
}

.image-btns>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 20px;
    font-weight: 600;
    border-radius: 10px;
    gap: 5px;
}

#import_image {
    position: relative;
    flex-grow: 1;
    background: var(--color_black);
    color: var(--color_white);
}

#cancel_handle {
    background: var(--color_gray);
    color: var(--color_black);
}

#file {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.info-manage .info {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.info .info_container {
    display: flex;
    height: max-content;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

.info .info_container #modify_btns {
    display: flex;
    position: absolute;
    height: 35px;
    width: max-content;
    right: 0;
    top: 0;
    gap: 10px;
}

#modify_btns button {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    border-radius: 5px;
    padding: 0 15px;
    font-weight: 600;
    gap: 10px;
}

#modify_btns #edit_info {
    background: var(--color_gray);
    color: var(--color_black);
}

#modify_btns #save_info {
    background: var(--color_black);
    color: var(--color_white);
}

.info .info_container>.item {
    display: flex;
    align-items: flex-start;
    height: max-content;
    width: max-content;
    flex-direction: column;
    gap: 5px;
}

.info_container .input_info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.info_container .input_info .item {
    display: flex;
    align-items: baseline;
    height: max-content;
    flex-grow: 1;
    gap: 5px;
}

.info_container .item label {
    font-size: 15px;
    font-weight: 600;
}

.info_container .item input {
    display: flex;
    height: 40px;
    flex-grow: 1;
    max-width: 250px;
    background: transparent;
    color: var(--color_black);
    font-size: 15px;
    padding: 0 5px;
    outline: none;
}

.info_container>.item p {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    font-size: 15px;
}

.info_container>.item input {
    height: 25px;
    font-size: 13px;
}

.info_container input.modify {
    border: 2px solid var(--color_gray);
    border-radius: 5px;
}

.info_container input.modify:focus {
    border-color: var(--color_black);
}

.info_container textarea {
    display: flex;
    height: 150px;
    min-width: 250px;
    max-width: 400px;
    flex-grow: 1;
    font-size: 15px;
    background: transparent;
    color: var(--color_black);
    padding: 10px;
    text-wrap: wrap;
    resize: none;
    outline: none;
}

.info_container .item textarea.modify {
    border: 2px solid var(--color_gray);
    border-radius: 5px;
}

.info_container .item textarea.modify:focus {
    border-color: var(--color_black);
}

.footer-manage {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.footer-manage>button {
    display: flex;
    align-items: center;
    height: 35px;
    width: max-content;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#change-account {
    background: var(--color_gray);
    color: var(--color_black);
}

#logout {
    background: var(--color_black);
    color: var(--color_white);
}

#cancel-manage {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    color: var(--color_black);
    background: transparent;
    font-size: 18px;
    transition: 0.2s all ease;
}

#cancel-manage:hover {
    background: var(--color_gray);
    transition: 0.2s all ease;
}

#alert {
    display: flex;
    position: fixed;
    align-items: center;
    height: max-content;
    width: max-content;
    right: 50%;
    top: 30px;
    padding: 10px;
    border-radius: 5px;
    color: var(--color_black);
    background: var(--color_gray);
    font-size: 12px;
    gap: 5px;
}

#alert::before {
    content: "";
    display: flex;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    background: var(--color_black);
    animation: animateTimeout 2s linear forwards;
}

@keyframes animateTimeout {
    0% {
        width: 0%;
    }

    100% {
        display: none;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .manage-container {
        padding: 0;
    }

    #managePanel {
        border-radius: 0;
    }

    .info-manage {
        flex-direction: column;
    }

    .info-manage .beside {
        width: 100%;
        flex-direction: row;
    }
}

@media screen and (max-width: 425px) {
    .info-manage .beside {
        flex-wrap: wrap;
    }

    .info-manage .info {
        padding-top: 50px;
    }

    #alert {
        width: calc(100% - 20px);
        left: 10px;
    }
}