#navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
  flex-grow: 1;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
  flex-grow: 1;
}

.navbar-items .navbar-feature {
  display: flex;
  position: relative;
  align-items: center;
  width: max-content;
  height: max-content;
  gap: 20px;
}

.navbar-feature #menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: var(--color_white);
  color: var(--color_black);
  border-radius: 5px;
  font-size: 16px;
}

#menu-btn:hover {
  background: var(--color_gray);
}

.navbar-feature #app-name {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  gap: 5px;
  user-select: none;
}

@media screen and (max-width: 425px) {
  #app-name {
    font-size: 13px;
  }
}

.search {
  display: flex;
  height: 35px;
  width: 30%;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  outline: none;
  background: #fff;
  color: var(--color_black);
  border: 2px solid var(--color_black);
  transition: 0.2s all ease;
}

.search:hover {
  background: var(--color_gray);
  transition: 0.2s all ease;
}

.search>span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35px;
}

.search>span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background: transparent;
}

@media screen and (max-width: 500px) {
  .search {
    width: max-content;
    outline: none;
  }
}

.navbar-items .navbar-links {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  gap: 20px;
}

#navigate-btn {
  display: flex;
  align-items: center;
  height: 35px;
  width: max-content;
  border-radius: 5px;
  padding: 0 15px;
  background: var(--color_black);
  color: var(--color_white);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar_handler {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  gap: 20px;
}

#todo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: max-content;
  padding: 0 15px;
  border-radius: 50px;
  gap: 10px;
}

#account {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: var(--color_black);
  border-radius: 5px;
}

#account .logo_account {
  display: flex;
  position: relative;
  height: max-content;
  width: max-content;
  background: transparent;
}

#account .logo_account::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  top: 8px;
  right: 4px;
  background: var(--color_white);
  border-radius: 50px;
}

.account_svg {
  width: 20px;
  height: 20px;
}

.logo_svg {
  fill: transparent;
  stroke: var(--color_white);
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-dasharray: 250 50;
  stroke-dashoffset: 25;
}

.navbar_handler .drop_down {
  display: flex;
  position: absolute;
  height: max-content;
  width: max-content;
  top: 60px;
  right: 20px;
  padding: 15px;
  background: var(--color_white);
  border: 2px solid var(--color_gray);
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
}

#tag_account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
  gap: 10px;
}

#tag_account p {
  font-size: 16px;
  font-weight: 600;
}

.drop_down button {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  width: 100%;
  min-width: 150px;
  padding: 0 10px;
  border-radius: 5px;
  background: var(--color_gray);
  color: var(--color_black);
  gap: 10px;
}

.drop_down button span {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  background: var(--color_black);
  color: var(--color_white);
}

.drop_down button:last-child {
  justify-content: center;
  background: var(--color_black);
  color: var(--color_white);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  #todo {
    width: 35px;
    padding: 0;
  }

  #todo span {
    display: none;
  }
}