.search_container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: transparent;
    overflow-y: hidden;
    z-index: 5;
}

#search_template {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 600px;
    background: var(--color_white);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

#form_search {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background: var(--color_white);
}

#form_search .escape_search {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    background: transparent;
    padding: 0 15px;
    color: var(--color_blue);
    flex-shrink: 0;
    cursor: pointer;
}

#form_search .search_box {
    display: flex;
    height: 100%;
    flex-grow: 1;
    padding: 10px 15px 10px 0;
    gap: 15px;
}

#form_search .search_box button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    border: none;
    background: var(--color_blue);
    color: var(--color_white);
    border-radius: 50px;
    cursor: pointer;
}

#form_search .search_box input {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    background: var(--color_gray_light);
    border-radius: 20px;
    border: none;
    outline: none;
}

#option_frame {
    display: flex;
    flex-grow: 1;
    width: 100%;
    border-top: 2px solid var(--color_gray);
    flex-direction: column;
}

#option_frame .list {
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

#option_frame .list::-webkit-scrollbar {
    display: none;
}

#option_frame .list a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 70px;
    width: 100%;
    background: var(--color_white);
    color: var(--color_black);
    text-decoration: none;
    padding: 0px 20px;
    gap: 5px;
    flex-shrink: 0;
    flex-direction: column;
    transition: 0.2s all ease;
}

#option_frame .list a:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

.list a h4 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list a p {
    font-size: 13px;
    color: var(--color_gray);
    transition: 0.2s all ease;
}

#option_frame .list a:hover p {
    color: var(--color_black);
    transition: 0.2s all ease;
}

/* Media */
@media screen and (max-width: 425px) {
    #search_template {
        border-radius: 0px;
        max-height: none;
    }

    #form_search .search_box button[type="submit"] {
        display: none;
    }

    #option_frame .list {
        background: var(--color_gray);
        gap: 1px;
    }
}