@import "./style/home/home.css";
@import "./style/home/content.css";
@import "./style/home/navbar.css";
@import "./style/home/dashboard.css";
@import "./style/home/manage.css";
@import "./style/home/feedback.css";

@import "./style/social.css";
@import "./style/course.css";
@import "./style/event.css";
@import "./style/auth.css";
@import "./style/ui.css";

@font-face {
    font-family: 'myFont';
    src: url(../public/font/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myFont', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
}

:root {
    --color_white: #fff;
    --color_black: #232323;
    --color_gray: rgb(245, 245, 245);
    --color_green: #4CAF50;
    --color_yellow: #FFEB3B;
    --color_red: #F44336;
    --color_blue: #1E90FF;
    --color_orange: #ED8B00;
}

@media screen and (max-width: 425px) {

    input,
    textarea {
        font-size: 16px;
    }
}