@import "./style/home/home.css";
@import "./style/home/content.css";
@import "./style/home/navbar.css";
@import "./style/home/dashboard.css";
@import "./style/home/manage.css";
@import "./style/home/feedback.css";
@import "./style/home/search.css";

@import "./style/course/course.css";
@import "./style/course/content.css";
@import "./style/course/preview.css";

@import "./style/event.css";
@import "./style/auth.css";
@import "./style/project.css";
@import "./style/ui.css";

@font-face {
    font-family: 'myFont';
    src: url(../public/font/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'myFont', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    -webkit-touch-callout: none;
    font-family: 'myFont', sans-serif;
}

:root {
    --color_bg: #F9FAFB;

    --color_white_light: #FFFFFF4D;
    --color_white: #fff;

    --color_black: #374151;

    --color_gray_light: #F5F5F5;
    --color_gray: #C0C0C0;
    --color_gray_dark: #A9A9A9;

    --color_green_light: #BBF7D0;
    --color_green: #4CAF50;

    --color_yellow: #FFB300;

    --color_red_light: #FF6666;
    --color_red: #F44336;
    --color_red_dark: #ff0000;

    --color_blue_light: #1E90FFB3;
    --color_blue: #1E90FF;

    --color_orange: #ED8B00;
    --color_purple: #777BB4;
    --color_violet: #8A2BE2;
    --color_cyan: #00FFFF;
    --color_pink: #FF69B4;
}

@media screen and (max-width: 425px) {

    input,
    textarea {
        font-size: 16px !important;
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 768px) {

    button,
    a,
    input,
    textarea {
        -webkit-tap-highlight-color: transparent;
    }

}

input:disabled,
textarea:disabled,
button:disabled {
    pointer-events: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: var(--color_black) !important;
    background-color: transparent !important;
}