#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  background: var(--color_bg);
}

.auth-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  overflow: auto;
  overflow-x: hidden;
}

.auth-container .container {
  display: flex;
  height: max-content;
  width: 100%;
  min-height: 600px;
  max-width: 800px;
  border-radius: 20px;
  background: var(--color_white);
  box-shadow: 0 0 5px var(--color_gray);
  flex-wrap: wrap;
  overflow: hidden;
}

.auth-form {
  display: flex;
  position: relative;
  height: max-content;
  max-height: 800px;
  flex-grow: 1;
  padding: 30px 20px;
  background: transparent;
  flex-direction: column;
  flex-basis: 0;
}

/* Login */
.login {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transform: scale(0);
  transition: 0.2s all ease;
}

.login.pop {
  position: relative;
  transform: scale(1);
  transition: 0.4s all ease;
}

.login.pop .heading-login {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.heading-login h2 {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  gap: 5px;
}

.heading-login>span {
  display: flex;
  height: max-content;
  text-align: center;
  font-size: 15px;
}

.login.pop .main-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px 0;
}

.login-input {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 60%;
  min-width: 200px;
  flex-direction: column;
  gap: 20px;
}

.field-input {
  display: flex;
  position: relative;
  height: max-content;
  width: 100%;
  gap: 5px;
}

.login.pop .field-input>input,
.logup.pop .field-input>input {
  display: flex;
  height: 45px;
  width: 100%;
  padding: 15px 0 0 30px;
  font-size: 16px;
  background: transparent;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid var(--color_black);
  z-index: 1;
}

.field-input>label {
  display: flex;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 14px;
  color: var(--color_black);
  transition: 0.2s all ease;
  z-index: 0;
}

.field-input>input:focus+label,
.field-input.has-content>label {
  top: 0;
  left: 0;
  color: var(--color_blue);
  font-size: 12px;
  font-weight: 500;
  transition: 0.2s all ease;
}

.field-input>input:focus~.icon,
.field-input.has-content .icon {
  transform: scale(1);
  transition: 0.2s all ease;
}

.main-login .login-help {
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  padding: 0 30px;
  font-size: 12px;
  gap: 10px;
  flex-wrap: wrap-reverse;
}

.login-help span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  gap: 5px;
}

.login-help span:nth-child(2) {
  font-weight: 500;
  flex-wrap: nowrap;
}

.main-login .btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background: var(--color_blue);
  color: var(--color_white);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.login.pop .footer-login {
  display: flex;
  position: relative;
  align-items: center;
  height: max-content;
  width: 100%;
  padding: 0 10px;
  flex-direction: column;
  gap: 15px;
}

.login.pop .footer-login::before {
  content: "";
  display: flex;
  height: 2px;
  width: 80%;
  background: var(--color_black);
}

.footer-login P {
  font-size: 13px;
}

.footer-login .social-login {
  display: flex;
  justify-content: space-evenly;
  height: max-content;
  width: 100%;
  gap: 20px;
}

.social-login button {
  display: flex;
  justify-content: center;
  height: max-content;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  color: var(--color_black);
  outline: 2px solid var(--color_gray_light);
  background: transparent;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.social-login button:hover {
  outline-color: var(--color_black);
  background: var(--color_gray_light);
  transition: 0.2s all ease;
}

.register-auth {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  font-size: 12px;
  gap: 10px;
}

a {
  color: var(--color_blue);
}

/* Logup */
.logup {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transform: scale(0);
  transition: 0.2s all ease;
  overflow: hidden;
}

.logup.pop {
  position: relative;
  transform: scale(1);
  transition: 0.4s all ease;
}

.logup.pop .field-input {
  width: 100%;
}

.heading-logup {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.heading-logup h2 {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  gap: 5px;
}

.heading-logup span {
  display: flex;
  height: max-content;
  text-align: center;
  font-size: 15px;
}

.logup-page {
  display: flex;
  width: 200%;
  min-height: 250px;
  flex-grow: 1;
  flex-direction: row;
  transition: 0.2s all ease;
}

#logup-page-1 {
  display: flex;
  justify-content: space-around;
  height: initial;
  flex-grow: 1;
  padding: 20px 0;
  flex-direction: column;
  gap: 20px;
}

#logup-page-1 .logup-input {
  display: flex;
  height: max-content;
  width: 100%;
  gap: 20px;
}

#logup-page-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: initial;
  flex-grow: 1;
  padding: 20px 0;
  flex-direction: column;
  gap: 20px;
}

#logup-page-2 .auth-password {
  display: flex;
  height: max-content;
  width: 100%;
  gap: 20px;
}

.auth-password>input {
  display: flex;
  height: 40px;
  width: 50%;
  outline: none;
  font-size: 16px;
}

#logup-page-2 .auth-terms {
  display: flex;
  height: max-content;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  gap: 10px;
}

.btn-logup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--color_blue);
  font-weight: 600;
  color: var(--color_white);
  cursor: pointer;
}

.footer-logup {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  padding: 0 10px;
  flex-direction: column;
  gap: 15px;
}

.footer-logup .navigate-logup {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 50px;
}

.navigate-logup button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: var(--color_black);
  border-radius: 5px;
  cursor: pointer;
}

.footer-logup p {
  font-size: 13px;
}

.footer-logup .social-logup {
  display: flex;
  justify-content: space-evenly;
  height: max-content;
  width: 100%;
  gap: 20px;
}

.social-logup button {
  display: flex;
  justify-content: center;
  height: max-content;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  outline: 2px solid var(--color_gray_light);
  background: transparent;
  cursor: pointer;
  color: var(--color_black);
  gap: 10px;
  transition: 0.2s all ease;
}

.social-logup button:hover {
  outline-color: var(--color_black);
  background: var(--color_gray_light);
  transition: 0.2s all ease;
}

.login-auth {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  font-size: 12px;
  gap: 10px;
}

textarea::placeholder {
  font-size: 14px;
}

#loadAuth {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

#loadAuth::before {
  content: "";
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color_white);
  opacity: 0.8;
}

.icon {
  display: flex;
  position: absolute;
  left: 5px;
  bottom: 10px;
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s all ease;
}

.return_homepage {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  background: transparent;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: var(--color_blue);
  cursor: pointer;
  gap: 5px;
}

#warning_notification {
  display: flex;
  position: fixed;
  height: 35px;
  width: 35px;
  bottom: 25px;
  right: 25px;
  background: transparent;
  z-index: 1;
}

#warning_notification>button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  color: var(--color_white);
  font-size: 17px;
  cursor: pointer;
  z-index: 1
}

#warning_notification .content_warning {
  display: flex;
  position: absolute;
  height: max-content;
  width: max-content;
  right: 0px;
  bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  background: var(--color_white);
  box-shadow: 0 0 5px var(--color_gray);
  font-size: 14px;
  transform: scale(1);
  flex-direction: column;
  gap: 10px;
  transform-origin: bottom right;
  transition: 0.2s all ease;
  z-index: 0;
  overflow: hidden;
}

#warning_notification .content_warning.hide {
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.2s all ease;
}

.content_warning p {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  gap: 10px;
}

.content_warning p svg {
  display: flex;
  flex-shrink: 0;
}

.beside_auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: initial;
  width: 350px;
  padding: 20px 10px;
  background: transparent;
  flex-direction: column;
  gap: 30px;
}

.beside_auth .image_frame {
  justify-content: center;
  display: flex;
  height: max-content;
  width: 100%;
}

.beside_auth .image_frame img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 5px var(--color_gray);
}

.beside_auth h3 {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0 40px;
}

.beside_auth .navigate_btns {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
}

.beside_auth .navigate_btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}

#navigate_login {
  background: var(--color_blue);
  color: var(--color_white);
}

#navigate_signup {
  background: transparent;
  border: 2px solid var(--color_blue);
  color: var(--color_black);
}

@media screen and (max-width: 450px) {
  .auth-container .container {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    border: none;
  }

  .auth-container {
    background: var(--color_white);
    padding: 0;
  }

  #logup-page-2 .auth-password,
  #logup-page-1 .logup-input {
    flex-wrap: wrap;
  }

  #warning_notification .content_warning {
    width: 280px;
  }

  .error {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 375px) {

  .social-login button h4,
  .social-logup button h4 {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .beside_auth {
    width: 100%;
  }
}