.comment-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: 0.2s all ease;
}

.comment-layout.show {
  width: 300px;
}

.comment-layout.hide {
  width: 0%;
}
