#course {
  display: flex;
  height: max-content;
  min-height: 100dvh;
  width: 100%;
  padding: 80px 20px 20px 20px;
  gap: 30px;
  flex-direction: column;
}

#course .heading-marketplace {
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  padding: 10px 0;
  gap: 20px;
}

#course .course-container {
  display: flex;
  height: max-content;
  width: 100%;
  gap: 30px;
  flex-grow: 1;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.course-container .item {
  display: flex;
  height: 420px;
  max-width: 350px;
  flex-grow: 1;
  border-radius: 10px;
  padding: 20px 10px;
  border: 2px solid var(--color_gray);
  box-shadow: 0 0 10px var(--color_gray);
  flex-direction: column;
  flex-basis: 300px;
  gap: 10px;
  cursor: default;
  overflow: hidden;
}

.item .heading {
  display: flex;
  position: relative;
  height: 150px;
  width: 100%;
}

.item .heading img {
  position: absolute;
  top: 0px;
  left: calc(50% - 30px);
  transition: 0.4s all ease;
}

.item:hover .heading img {
  top: -10px;
  left: 0;
  transform: scale(0.7);
  transition: 0.4s all ease;
}

.item .heading h3 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  bottom: 0;
  transition: 0.4s all ease;
}

.item:hover .heading h3 {
  bottom: 90px;
  padding: 0 60px;
  transition: 0.4s all ease;
}

.item .heading .concept {
  display: flex;
  justify-content: center;
  position: absolute;
  height: max-content;
  width: 100%;
  bottom: 0;
  background: var(--color_gray);
  padding: 5px 10px;
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.4s all ease;
}

.item .heading .concept p {
  text-align: center;
  font-size: 15px;
}

.item:hover .heading .concept {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: 0.4s all ease;
}

.item .heading .rating {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -10px;
  height: 40px;
  width: 60px;
  background: var(--color_black);
  color: var(--color_white);
  border-bottom-left-radius: 20px;
  gap: 5px;
}

.rating .star {
  color: var(--color_yellow);
}

.item .content-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}

.content-item .info:first-child {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 5px 20px;
  background: var(--color_black);
  color: var(--color_white);
  text-transform: uppercase;
  border-radius: 50px;
}


.content-item .info:nth-child(2) {
  text-align: center;
}

.content-item .info:nth-child(3),
.content-item .info:nth-child(4) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.content-item .info:nth-child(3) span,
.content-item .info:nth-child(4) span {
  font-weight: 700;
}

.item .footer {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
  text-transform: uppercase;
  color: var(--color_white);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}