/* Form */
#mainsheet {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(21, 205, 238, 0.979),
    rgba(225, 10, 233, 0.918)
  );
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
}

.form {
  display: flex;
  position: relative;
  height: calc(100vh - 200px);
  width: 900px;
  background: #fff;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 0px var(--color_black);
  -moz-box-shadow: 0px 0px 10px 0px var(--color_black);
  box-shadow: 0px 0px 10px 0px var(--color_black);
  border-radius: 20px;
  flex-wrap: wrap;
}

.form_layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro_layout {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to top,
    rgba(21, 205, 238, 0.979),
    rgba(225, 10, 233, 0.918)
  );
  flex-direction: row;
}

.intro_layout .intro-register {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.container {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  user-select: none;
}

.container h1 {
  display: flex;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.container span {
  display: flex;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.container p {
  line-height: 25px;
}

.intro-login .container p{
  text-align: start;
}

.intro-register .container p{
  text-align: end;
}

.footer-login,
.footer-register {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.footer-login span,
.footer-register span {
  display: flex;
  font-weight: 700;
}

.intro_layout .intro-login {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.form.effect1 .intro_layout { 
  animation:intro_effect1_laptop 0.5s linear forwards;
}

@keyframes intro_effect1_laptop {
  0% {
    clip-path: polygon(0 0, 60% 0, 60% 0, 40% 100%, 0 100%, 0 0);
  }
  25%{
    clip-path: polygon(0 0, 100% 0, 100% 0, 40% 100%, 0 100%, 0 0);
  }
  50%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 0 100%, 0 0);
  }
  75%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 0 0, 0 0);
  }
  100%{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 60% 100%, 40% 0, 40% 0);
  }
}
.form.effect2 .intro_layout {
  animation:intro_effect2_laptop 0.5s linear forwards;
}

@keyframes intro_effect2_laptop{
  0%{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 60% 100%, 40% 0, 40% 0);
  }
  25%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 0 0, 0 0);
  }
  50%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 0 100%, 0 0);
  }
  75%{
    clip-path: polygon(0 0, 100% 0, 100% 0, 40% 100%, 0 100%, 0 0);
  }
  100%{
    clip-path: polygon(0 0, 60% 0, 60% 0, 40% 100%, 0 100%, 0 0);
  }
}

.login-form {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  transition: 0.3s all ease-in;
}

.register-form {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  transition: 0.3s all ease-in;
}

.register-form .title,
.login-form .title {
  display: flex;
  letter-spacing: 1px;
  color: var(--color_black);
  font-weight: 700;
  font-size: 30px;
  user-select: none;
}

.form.effect1 .register-form {
  transform: scaleY(0);
  transition: 0.2s all ease-in;
}
.form.effect1 .login-form {
  transform: scaleY(1);
  transition: 0.2s all ease-out;
}

.form.effect2 .register-form {
  transform: scaleY(1);
  transition: 0.2s all ease-out;
}

.form.effect2 .login-form {
  transform: scaleY(0);
  transition: 0.2s all ease-in;
}

.form.effect1 .intro_layout .intro-register {
  transform: scaleY(1);
  transition: 0.2s all ease-out;
}

.form.effect1 .intro_layout .intro-login {
  transform: scaleY(0);
  transition: 0.2s all ease-in;
}

.form.effect2 .intro_layout .intro-login {
  transform: scaleY(1);
  transition: 0.2s all ease-out;
}

.form.effect2 .intro_layout .intro-register {
  transform: scaleY(0);
  transition: 0.2s all ease-in;
}

.form-input {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
}

.login-form .input-group {
  display: flex;
  position: relative;
  height: 80%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.register-form .input-group{
  display: flex;
  position: relative;
  height: 80%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-group .capslock {
  display: flex;
  position: absolute;
  bottom: 6px;
  font-size: 13px;
  font-weight: 700;
}

.input-group #optionLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 15px;
}

#optionLogin img {
  display: flex;
  height: 35px;
  width: 35px;
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s all ease-in;
}

#optionLogin img:hover > img:not(:hover){
  transform: scaleY(0.8);
  transition: 0.2s all ease-out;
}


.user-form,
.pass-form {
  display: flex;
  height: max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  position: absolute;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(--color_black);
  color: #fff;
  z-index: 1;
}

.form-input input {
  display: flex;
  height: 40px;
  width: 250px;
  text-align: left;
  padding-left: 50px;
  padding-right: 10px;
  font-size: 15px;
  outline: none;
  background: #ccc;
  border-radius: 5px;
  z-index: 0;
}

input::placeholder {
  font-size: 12px;
}

input:focus {
  outline: 2px solid var(--color_black);
}

.labelName {
  display: flex;
  position: absolute;
  font-weight: 700;
  align-items: center;
  justify-content: left;
  color: var(--color_black);
  width: max-content;
  text-transform: uppercase;
  top: 30px;
  left: 0px;
  z-index: 1;
}

.labelName::before {
  content: "";
  display: flex;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--color_black);
  bottom: 0px;
}

.btn-login, .btn-register {
  display: flex;
  background: var(--color_black);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn-login h2, .btn-register h2 {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  transform: translate(0px);
  transition: 0.3s;
}

.btn-login .loginIcon {
  display: flex;
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 17px;
  left: 5px;
  border-radius: 50px;
  border: 2px solid var(--color_black);
  transition: 0.3s all ease;
}

.btn-login.active h2 {
  transform: translate(120px);
  transition: 0.3s all ease;
}

.btn-login .loginIcon svg {
  display: flex;
  position: absolute;
  align-self: center;
  left: -20px;
}

.btn-login.active .loginIcon svg {
  color: var(--color_black);
  animation: animation 1s linear infinite;
}

@keyframes animation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(140px);
  }
}

.btn-login.active .loginIcon {
  width: 140px;
  background: #fff;
  overflow: hidden;
  transition: 0.3s all ease;
}

@media (width < 1000px) {
  .form {
    width: 700px;
    transition: width 0.2s ease-in-out;
  }
  .form.effect1 .intro_layout {
    animation: intro_effect1_ipad 0.5s linear forwards;
  }

  @keyframes intro_effect1_ipad {
    0% {
      clip-path: polygon(0 0, 55% 0, 55% 0, 45% 100%, 0 100%, 0 0);
    }
    25%{
      clip-path: polygon(0 0, 100% 0, 100% 0, 45% 100%, 0 100%, 0 0);
    }
    50%{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 0 100%, 0 0);
    }
    75%{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 0 0, 0 0);
    }
    100%{
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 55% 100%, 45% 0, 45% 0);
    }
  }

  .form.effect2 .intro_layout {
    animation: intro_effect2_ipad 0.5s linear forwards;
  }

  @keyframes intro_effect2_ipad {
    0%{
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 55% 100%, 45% 0, 45% 0);
    }
    25%{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 0 0, 0 0);
    }
    50%{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 0 100%, 0 0);
    }
    75%{
      clip-path: polygon(0 0, 100% 0, 100% 0, 45% 100%, 0 100%, 0 0);
    }
    100%{
      clip-path: polygon(0 0, 55% 0, 55% 0, 45% 100%, 0 100%, 0 0);
    }
  }

  .form-input {
    width: 350px;
  }
  .input-group {
    width: 80%;
  }
}

@media (width < 800px) {
  .form {
    flex-direction: column;
    height: 80%;
    width: 350px;
    transition: height 0.2s ease-in-out;
  }
  .form_layout {
    width: 100%;
    transform: scaleY(0);
    height: 90%;
    transition: height 0.2s ease-in-out;
  }
  .intro_layout {
    width: 100%;
    transform: scaleY(0);
    height: 10%;
    transition: height 0.2s ease-in-out;
  }

  .form.effect1 .form_layout {
    transform: none;
    border-right: none;
    border-bottom: 1px solid var(--color_black);
  }

  .form.effect1 .intro_layout {
    transform: none;
    border-left: none;
    border-top: 1px solid var(--color_black);
  }

  .form.effect2 .form_layout {
    transform: none;
    border-left: none;
    border-bottom: 1px solid var(--color_black);
  }

  .form.effect2 .intro_layout {
    transform: none;
    border-right: none;
    border-top: 1px solid var(--color_black);
  }
}

.register-handle,
.login-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  border-radius: 10px;
  border: 1px solid var(--color_black);
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.register-handle:hover,
.login-handle:hover {
  background: linear-gradient(
    to right,
    rgba(21, 205, 238, 0.979),
    rgba(225, 10, 233, 0.918)
  );
  transition: 0.2s all ease-out;
  color: #fff;
}
