.member-template {
  display: flex;
  position: absolute;
  height: 90%;
  width: 300px;
  bottom: 0px;
  right: 0px;
  background: var(--color_black);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 10px;
  border: 1px solid var(--color_black);
  border-right: none;
  padding-bottom: 10px;
  transform-origin: center;
  transform: translateX(350px);
  opacity: 0;
  transition: 0.2s all ease-in;
}

.member-template.active {
  transform: translateX(0px);
  transform-origin: center;
  opacity: 1;
  transition: 0.2s all ease-out;
}

.member-container {
  display: flex;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 70px);
  background: linear-gradient(
    to top,
    rgba(21, 205, 238, 0.979),
    rgba(225, 10, 233, 0.918)
  );
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  bottom: 0px;
  overflow-y: scroll;
}

.member-container::-webkit-scrollbar {
  width: 10px;
}

.member-container::-webkit-scrollbar-thumb {
  background-color: var(--color_black);
}

.member-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.member-header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10px;
  height: 50px;
  width: calc(100% - 20px);
  gap: 100px;
}

.member-head {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  filter: brightness(1.5);
  text-transform: uppercase;
  font-size: 25px;
  user-select: none;
}

.member-list {
  display: flex;
  position: absolute;
  width: 250px;
  height: max-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 10px;
  gap: 20px;
}

.info-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--color_black);
  background: #fff;
  border: 2px solid var(--color_black);
  box-shadow: 0 0 10px #fff;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.info-wrapper {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.info-heading {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.info-heading img {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  outline: 1px solid var(--color_black);
}

.info-heading .show-more {
  display: flex;
  height: 20px;
  width: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--color_black);
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.info-heading .show-more.active{
  display: none;
}

.info {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
  padding-left: 5px;
  gap: 5px;
}

.info li {
  display: flex;
  height: max-content;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

li i {
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  border-radius: 5px;
  color: #fff;
  background: var(--color_black);
}

li span {
  display: flex;
  align-self: center;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  width: 80%;
}

.secret-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.secret-wrapper .info-secret {
  display: flex;
  height: max-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.info-secret li {
  display: flex;
  height: max-content;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.secret-wrapper .linkln {
  display: flex;
  height: max-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.linkln li {
  display: flex;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--color_black);
}

li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #000;
}

.linkln li:hover {
  background: var(--color_black);
}

.linkln li:hover a {
  color: #fff;
}

.lock {
  display: flex;
  position: absolute;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--color_black);
  color: #fff;
  font-size: 15px;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#auth-form {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: var(--color_black);
  flex-direction: column;
  gap: 10px;
  opacity: 0.8;
}

#auth-form input {
  display: flex;
  height: 20px;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

#auth-form span {
  display: flex;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  filter: brightness(2);
  user-select: none;
}

#auth-form button {
  display: flex;
  height: 22px;
  width: 22px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.close-member {
  display: flex;
  position: absolute;
  height: 35px;
  width: 35px;
  right: 10px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid var(--color_black);
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.close-member:hover {
  transform: scale(1);
  box-shadow: 0 0 10px var(--var_2);
  opacity: 1;
  transition: 0.2s all ease-out;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 20px;
  width: 100%;
  padding-bottom: 10px;
  gap: 10px;
}

.progress-loader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 10px;
  border-radius: 7px;
  gap: 10px;
  opacity: 0;
}

.progress-loader.acvate {
  opacity: 1;
}

.progress-loader > span {
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

.progress-loader .progress {
  display: flex;
  height: 100%;
  width: 0%;
  border-radius: 7px;
  background: #fff;
}

.progress-loader.acvate .progress {
  animation: loading 2s cubic-bezier(0.4, 1.01, 1, 1) forwards;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
