.member-template.active {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.member-template {
  display: none;
}

.member-template.active::before {
  content: "";
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ccc;
  opacity: 0.8;
  z-index: -1;
}

.member-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  background: url(/image/member-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}

.member-container .title {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--color_black);
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  user-select: none;
}

.member-container .member-frame {
  display: flex;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.member-frame .list-member {
  display: flex;
  height: 100%;
  width: 70%; 
  border-radius: 0 0 0 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.list-member::-webkit-scrollbar-thumb {
  background: #fff;
}

.list-member::-webkit-scrollbar {
  width: 10px;
}

.list-member .container-member{
  display: flex;
  height: max-content;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;  
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
} 

.container-member .member {
  display: flex;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--color_black);
  flex-direction: column;
  cursor: pointer;
}

.container-member .member::before{
  content: "";
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  opacity: 0.7;
}

.member.target::before {
  background: var(--color_black);
  transition: 0.2s all ease;
  box-shadow: 0 0 20px #fff;
}

.member.target{
  color: #fff;
}

.member span {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.member ul {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 10px;
  user-select: none;
  gap: 10px;
}

.member ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  list-style: none;
}

.member-frame .target-frame {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #fff;
  flex-direction: column;
}

.member-frame .target-frame.fail::before{
  content: "Choose any tag to see more infomation";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--color_black);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;
  z-index: 1;
}

.target-frame .heading-target {
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.heading-target .heading-container {
  display: flex;
  height: 90%;
  width: 200px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.heading-target .heading-container::before{
  content: "";
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  opacity: 0.5;
}

.heading-container .header{
  display: flex;
  height: 100%;
  width: 70%;
  align-items: center; 
  justify-content: center;
}

.header img{
  display: flex;
  height: 80%;
  width: 80%;
  background: #fff;
  border-radius: 10px;
}

.header .link{
  display: flex;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
  background: var(--color_black);
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.link span{
  display: flex;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
}

.link span a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--color_black);
  text-decoration: none;
}

.heading-container .options{
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.options li{
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.2s all ease;
}

.options .acvate{
  background: var(--color_black);
}

.options li:hover{
  background: var(--color_black);
}

.options li:nth-child(1):hover svg{
  color: red;
  transition: 0.2s all ease;
}

.options li:nth-child(1).active svg{
  color: red;
}

.options li:nth-child(2):hover svg{
  color: yellow;
  transition: 0.2s all ease;
}

.options li:nth-child(2).active svg{
  color: yellow;
}

.options li:nth-child(3):hover svg{
  color: #fff;
  transition: 0.2s all ease;
}

.options .active svg{
  color: #fff;
}

.target-frame .container-info {
  display: flex;
  height: 40%;
  width: 90%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.target-frame .container-info::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  opacity: 0.5;
}

.container-info .bio{
  display: flex;
  height: 20%;
  width: 100%;
  background: var(--color_black);
  border-radius: 7px 7px 0 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  user-select: none;
}

.container-info ul{
  display: flex;
  height: 80%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
}

.container-info ul li{
  display: flex;
  font-size: 15px;
  text-decoration: none;
}
.container-info ul li span{
  font-weight: 700;
  user-select: none;
}

.target-frame .comment-frame {
  display: flex;
  height: 30%;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 10px 0;
  flex-direction: column;
}

.comment-frame .comment-show{
  display: flex;
  height: 70%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid var(--color_black);
}

.comment-frame .frame-input{
  display: flex;
  height: 30%;
  width: 100%;
}

.frame-input input{
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.frame-input input:focus{
  outline: 2px solid var(--color_black);
}

.frame-input span{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  border-radius:50%;
  background: #ccc;
}

.target-frame .untarget {
  display: flex;
  position: absolute;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.member-container .member-feature {
  display: flex;
  position: absolute;
  height: max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px 10px 10px 20px;
  top: 0;
  left: 0;
  gap: 20px;
}

.member-feature button {
  display: flex;
  height: 35px;
  width: 35px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.2s all ease;
  cursor: pointer;
}

.member-feature .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.search input {
  display: flex;
  position: absolute;
  left: 0;
  height: 35px;
  width: 35px;
  background: #fff;
  border-radius: 5px;
  transition: 0.2s all ease-in;
  z-index: -1;
}

.search.active input {
  width: 250px;
  padding-left: 40px;
  padding-right: 10px;
  transition: 0.2s all ease-out;
}
.search.active button {
  color: #fff;
  border: 2px solid #fff;
  background: var(--color_black);
  transition: 0.2s all ease;
}

.member-feature button:hover {
  color: #fff;
  border: 2px solid #fff;
  background: var(--color_black);
  transition: 0.2s all ease;
}

.search.active span{
  display: flex;
  position: absolute;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  background: #ccc;
  border-radius: 50%;
  right: -210px;;
}

.handle-close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 35px;
  width: 35px;
  top: 10px;
  right: 10px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.handle-close:hover {
  background: var(--color_black);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.2s all ease;
}
