#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding:0 20px;
  z-index: 1;
  transition: width 0.2s ease-in;
}

.navbar-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.navbar-items .navbar-feature{
  display: flex;
  align-items: center;
  width: 30%;
  height: max-content;
  gap: 20px;
}

.navbar-feature .menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: max-content;
  padding: 0 11px;
  background: #fff;
  color: var(--color_black);
  border-radius: 5px;
  cursor: pointer;
}

.navbar-feature .input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.input-container span{
  display: flex;
  position: absolute;
  align-items: center;
  height: 35px;
  width: max-content;
  background: #fff;
  left: 0;
  border-radius: 5px;
  padding: 0 10px;
  z-index: 1;
}

.input-container input{
  display: flex;
  height: 35px;
  width: 100%;
  padding-left: 35px;
  outline: none;
  border-radius: 5px;
  outline: 1px solid #ccc;
}

.navbar-items .navbar-links{
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  gap: 20px;
}

.navbar-links button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  gap: 10px;
  color: var(--color_black);
  user-select: none;
  cursor: pointer;
}

.navbar-links button:first-child{
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-links button:last-child{
  background: var(--color_black);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.group-links{
  display: flex;
  position: absolute;
}
