#loadRedirect {
    display: flex;
    position: relative;
    height: max-content;
    width: max-content;
    background: transparent;
}

#loadRedirect::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    top: 15px;
    right: 12px;
    background: var(--color_black);
    border-radius: 50px;
    animation: move_point 1.5s linear infinite;
}

.logo_svg {
    width: 50px;
    height: 40px;
}

.triangle {
    fill: transparent;
    stroke: var(--color_black);
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-dasharray: 250 50;
    stroke-dashoffset: 25;
    animation: move_gap 1.5s linear infinite;
}

@keyframes move_gap {
    to {
        stroke-dashoffset: -275;
    }
}

@keyframes move_point {
    0% {
        top: 15px;
        right: 12px;
    }

    33.33% {
        top: 15px;
        right: 32px;
    }

    66.66% {
        top: 34px;
        right: 21px;
    }
}

.load_wrapper {
    display: flex;
    height: max-content;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#loadContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
    flex-direction: column;
    gap: 15px;
}

.loader {
    width: 50px;
    height: 50px;
    scale: 1;
    animation: rotate 2s linear infinite;
}

.path {
    stroke: var(--color_black);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

#loadContent>p {
    font-size: 14px;
}

@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}


@keyframes loadContent {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
}

.error_layout {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: transparent;
    gap: 20px;
}

.error_layout .heading_round {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    color: var(--color_white);
    background: var(--color_red);
}

.error_layout .error_content {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    max-width: 300px;
    background: var(--color_white);
    box-shadow: 0 0 5px var(--color_gray);
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.error_content p {
    display: flex;
    flex-grow: 1;
    font-size: 15px;
}

.error_content .handle_error_btns {
    display: flex;
    gap: 15px;
}

.handle_error_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--color_gray_light);
    color: var(--color_black);
    font-size: 18px;
    cursor: pointer;
}

#navigate_handler {
    display: flex;
    position: fixed;
    align-items: flex-start;
    height: 40px;
    width: 40px;
    bottom: 15px;
    right: 15px;
    flex-direction: column;
    background: transparent;
    gap: 10px;
    overflow: hidden;
    transition: 0.2s all ease;
}

#navigate_handler>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border-radius: 50%;
    opacity: 1;
    visibility: none;
    background: var(--color_gray_light);
    color: var(--color_black);
    transition: 0.2s all ease;
}

#navigate_handler>button.hidden {
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    transition: 0.2s all ease;
}

#navigate_handler>button:not(:last-child):hover {
    background: var(--color_black);
    color: var(--color_white);
    transition: 0.2s all ease;
}

#navigate_handler #handler {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--color_black);
    color: var(--color_white);
    cursor: pointer;
}

.handle_back {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.handle_back .back_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    padding: 0 20px;
    background: var(--color_black);
    color: var(--color_white);
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

#page_broken {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}

#page_broken .content_broken {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

.content_broken button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: max-content;
    padding: 0 30px;
    border-radius: 20px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}

#alert_container {
    display: flex;
    position: fixed;
    height: max-content;
    width: max-content;
    left: 20px;
    bottom: 20px;
    background: transparent;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.alert {
    display: flex;
    position: relative;
    align-items: center;
    height: max-content;
    min-height: 50px;
    width: max-content;
    max-width: 300px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    background: var(--color_white);
    box-shadow: 0 0 10px var(--color_gray);
    transform: translateY(20px);
    opacity: 0;
    animation: fadeOut 0.2s linear forwards;
    overflow: hidden;
    gap: 10px;
}

@keyframes fadeOut {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.alert svg {
    display: flex;
    flex-shrink: 0;
}

.alert button {
    display: flex;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--color_black);
    background: transparent;
    font-size: 14px;
    flex-shrink: 0;
    font-weight: 600;
    transition: 0.2s all ease;
    cursor: pointer;

    &:hover {
        background: var(--color_gray_light);
        transition: 0.2s all ease;
    }
}

.alert::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 0;
    background: var(--color_black);
    animation: timeTransition 2s linear forwards;
}

/* Page_not_found */

#not_found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

#not_found .not_found_button {
    display: flex;
    gap: 20px;
}

#not_found .not_found_button button {
    display: flex;
    align-items: center;
    height: 35px;
    width: max-content;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 600;
    gap: 5px;
    cursor: pointer;
}

#back_btn {
    background: var(--color_gray_light);
    border: 2px solid var(--color_gray);
    color: var(--color_black);
}

#home_btn {
    background: var(--color_black);
    color: var(--color_white);
}

/* Portable */
.code_block {
    display: flex;
    border-radius: 10px;
    background: var(--color_gray_light);
    padding: 10px 20px 20px 20px;
    flex-direction: column;
    gap: 10px;
}

.code_block_header {
    display: flex;
    position: relative;
    height: 35px;
    width: 100%;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    outline: 1px solid var(--color_black);
    background: var(--color_white);
    flex-shrink: 0;
}

.code_filename {
    display: flex;
    background: transparent;
    color: var(--color_black);
    font-size: 13px;
    font-weight: 600;
}

.copy_code_button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: 0.2s all ease;
}

.copy_code_button:hover {
    background: var(--color_gray_light);
    transition: 0.2s all ease;
}

.code_block pre {
    display: flex;
    width: 100%;
    margin: 0 !important;
    padding: 10px !important;
    background: transparent !important;
}

#view h3 {
    margin-top: 20px;
}

#view ol {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    gap: 5px;
}

#view ul {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    gap: 5px;
}

#view ul li::marker {
    color: var(--color_blue);
}

@keyframes timeTransition {
    100% {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .handle_back .back_btn h4 {
        display: none;
    }

    #loadRedirect {
        scale: 0.8;
    }

    .loader {
        scale: 0.8;
    }

    .code_block_header {
        max-width: none;
    }
}